<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>
    <style type="text/css">
        ::-webkit-scrollbar{
            /*垂直滚动条的宽*/
            width: 6px;
            height: 20px;
        }
        #daoyouricheng td p{
            text-align: center;
            width: 24px;
            height: 16px;

        }
        #tbodyinfo td {
            text-align: center;
            width: 24px;
            height: 14px;

        }


        .jidiaoinfo {
            width: 370px;
            height: 170px;
            border: 1px solid #2B2E37;
            margin: 10px;
            padding: 15px;
        }

        .jidiaoinfo dd {
            height: 28px;
        }

        #daoyouxinxi {

        }

        #tbodyinfo tr td {
            border: 1px solid #0C0C0C;
        }

        #daoyouinfo tr td {
            margin-top: 20px;
        }

        .nengyong {

            color: #0C0C0C;

        }

        .bunengyong {

            color: #0C0C0C;
        }


    </style>
</head>

<body style="overflow-x: hidden;">

<div class="page-content-wrap">
    <div style="height:600px; width: 450px;float: left;">
        <ul class="flow-default" style="height:600px; overflow-y: auto;  " id="LAY_demo2"></ul>
    </div>

    <div style="height:600px; overflow-y: auto; overflow-x: auto; width: 820px;float: left;">
        <h1>导游日程信息</h1>
        <table class="layui-table" lay-even="" lay-skin="nob" id="daoyouinfo">

            <thead>
            <tr id="daoyouricheng">
                <td ><p style="width: 80px">证件号</p></td>
                <td><p>1</p></td>
                <td><p>2</p></td>
                <td><p>3</p></td>
                <td><p>4</p></td>
                <td><p>5</p></td>
                <td><p>6</p></td>
                <td><p>7</p></td>
                <td><p>8</p></td>
                <td><p>9</p></td>
                <td><p>10</p></td>
                <td><p>11</p></td>
                <td><p>12</p></td>
                <td><p>13</p></td>
                <td><p>14</p></td>
                <td><p>15</p></td>
                <td><p>16</p></td>
                <td><p>17</p></td>
                <td><p>18</p></td>
                <td><p>19</p></td>
                <td><p>20</p></td>
                <td><p>21</p></td>
                <td><p>22</p></td>
                <td><p>23</p></td>
                <td><p>24</p></td>
                <td><p>25</p></td>
                <td><p>26</p></td>
                <td><p>27</p></td>
                <td><p>28</p></td>
                <td><p>29</p></td>
                <td><p>30</p></td>
                <td><p>31</p></td>
            </tr>
            </thead>
            <tbody id="tbodyinfo">

            </tbody>
        </table>
    </div>
</div>

<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(function () {

        selectGuideInfoAndGuideSchedule();
    });

    /*
    * 判断日程集合内是否有该值（lixiaojie)
    *
    */
    function getTdRiChengInfo(allDay,allshiqing) {

        var result;
        $.each(allshiqing, function (i, e) {
            var myBeginDate = e.schedulebegintime;
            var thisDay = myBeginDate.substr(8, 2);
            thisDay = thisDay * 1;
            if (thisDay==allDay){
                result= e;
            }

        });
        return result;
    }

    /**
     * 总控为团选择导游(lixiaojie)
     *
     */
    function zongKongDianJiRiQi(nowDay,guideId) {
        /*if (!confirm("你确定要为团修改导游行程吗？")){
            return;
        }*/
        var offerId=$('input:radio[name="okIndex"]:checked').val();
        if(offerId==null){
            alert("请选择旅行团!");
            return ;
        }

        $.ajax({
            url: "/disguide/getDisGuideByOfferIdAndGuideId",
            data: {
                "guideId":guideId,
                "offerId":offerId
            },
            async: false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {

                if (ReponseResult.data.guideId==guideId) {

                }else {
                   /* if (!confirm("该团的导游将被改成"+ReponseResult.data.guide.guideName)){
                        return;
                    }else {*/
                        //执行修改团 导游
                        $.ajax({
                            url: "/disguide/updateDispatchGuide",
                            data: {
                                "guideId":guideId,
                                "offerId":offerId
                            },
                            async: false,
                            dataType: "json",
                            type: "post",
                            success: function (ReponseResult) {
                                location.reload();
                            }
                        });
                   /* }*/
                }
            }
        });

        $.ajax({
            url: "/guideSchedule/insertGuideScheduleInfo",
            data: {
                "guideId":guideId,
                "Day":nowDay,
                "offerId":offerId
            },
            async: false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {

                selectGuideInfoAndGuideSchedule();
            }
        });
        //不管 执行不执行团导游修改 都执行 新增操作




    }
    /**
     * 获取所有导游和导游日程(lixiaojie)
     */
    function selectGuideInfoAndGuideSchedule() {
        $.ajax({
            url: "/guide/selectGuideInfoAndGuideSchedule",
            data: {},
            async: false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                var content = "";
                $.each(ReponseResult.data, function (i, e) {

                    content += "<tr>";
                    content += " <td style='text-align: center'>" + e.certificate + "</td>";

                    for (var s=1;s<32;s++){
                        var result=getTdRiChengInfo(s,e.guideScheduleList)
                        if (result!="" && result!=null && result!=undefined){
                            if (result.schedulestate==1) {
                                content += "<td >无</td>";
                            }
                            if (result.schedulestate==2) {
                                content += "<td>休</td>";
                            }
                            if (result.schedulestate==3) {
                                content += "<td>√</td>";
                            }
                        }else {
                            content += "<td  onclick='zongKongDianJiRiQi("+(s+1)+","+e.guideId+")'></td>";
                        }
                    }

                    /*for (var p = 0; p < 31; p++) {
                        if ( e.guideScheduleList[p]==""||e.guideScheduleList[p]==null){
                            content += "<td></td>";
                            continue;
                        }else {
                            var myBeginDate=e.guideScheduleList[p].schedulebegintime;
                            var thisDay=myBeginDate.substr(8, 2);
                            thisDay = thisDay * 1;
                            if (thisDay != p+1) {
                                content += "<td></td>";
                            }
                            if (thisDay == p+1) {
                                content += "<td>对</td>";
                            }
                        }
                    }*/
                    content += " </tr>";
                });


                $("#tbodyinfo").html(content);


            }
        })
        ;
    }
</script>


<script>
    layui.use(['form', 'jquery', 'layer', 'dialog'], function () {
        var $ = layui.jquery;

        //修改状态
        $('#table-list').on('click', '.table-list-status', function () {
            var That = $(this);
            var status = That.attr('data-status');
            var id = That.parent().attr('data-id');
            if (status == 1) {
                That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
            } else if (status == 2) {
                That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

            }
        })

    });
</script>

<!--点击调度信息 变redio 按钮  变边框颜色(lixiaojie)-->
<script>
    function OnDivSelect(myElement) {
        $(".jidiaoinfo").attr("style","border:1px solid #2B2E37;");
        $(myElement).attr("style","border:1px solid #3385ff;");
        $(".jidiaoinfo").children("dl").children(".redioDD").children("input[name='okIndex']").removeAttr("checked");
        $(myElement).children("dl").children("dd").eq(6).children("input[name='okIndex']").attr("checked","checked");

    }

</script>


<script>
    /**
     * 加载流显示 调度信息(lixiaojie)
     */
    layui.use('flow', function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        var flow = layui.flow;
        var limitcount = 10;
        flow.load({
            elem: '#LAY_demo2' //流加载容器
            ,
            scrollElem: '#LAY_demo2' //滚动条所在元素，一般不用填，此处只是演示需要。
            ,
            isAuto: false,
            isLazyimg: true,
            done: function (page, next) { //加载下一页
                //模拟插入
                var lis = [];
                // 当前页码
                setTimeout(function () {
                    $.ajax({
                        url: "/dispatch/selectDispatchs",
                        data: {
                            "pageNo": page,
                            "pageSize": limitcount
                        },
                        async: false,
                        dataType: "json",
                        type: "post",
                        success: function (ReponseResult) {
                            pagecount = ReponseResult.count / limitcount;
                            $(ReponseResult.data.list).each(function (i, e) {
                                var content = "<div class='jidiaoinfo' onclick='OnDivSelect(this)'  >";
                                content += "<dl>";
                                content += "<dd style='float: right;margin-right: 70px'><p style='line-height: 40px'>姓名：" + e.guide.guideName + "</p><p>证件号：" + e.guide.certificate + "</p></dd>";
                                content += "<dd><span>团号:" + e.groundConnectionNumber + "</span></dd>";

                                content += "<dd>发往路线：" + e.sendLine + "</dd>";
                                content += "<dd>人数：" + e.num + "</dd>";
                                content += "<dd><span style=''>开始日期：" + e.travelStartTime + "</span><span style='margin-left: 50px'>截至日期：" + e.travelEndTime + "</span></dd>";
                                content += "<dd>报价：" + e.offer + "</dd>";
                                content += "<dd class='redioDD' ><input type='radio' style='opacity: 0'  value='"+e.dispatchId+"' name='okIndex'><button onclick='onCheckDispatchInfo(" + e.dispatchId + ")' class='layui-btn layui-btn-normal layui-btn-radius' style='width: 120px;margin-left: 180px;'>通过</button>&nbsp;&nbsp;</dd>";
                                content += "<dd ></dd>";
                                content += "</dl>";
                                content += "</div>";
                                lis.push(content);
                            });
            /*<button onclick='noCheckDispatchInfo(" + e.dispatchId + ")' class='layui-btn layui-btn-normal layui-btn-radius'>打回</button>*/
                            next(lis.join(''), page < ReponseResult.data.pages);
                        }
                    });
                }, 500);
            }
        })
        ;

    })
    ;
</script>
<script>
    /**
     * 总控审核调度信息（lixiaojie)
     * @param dispatchId
     */
    function onCheckDispatchInfo(dispatchId) {

        $.ajax({
            url: "/dispatch/onCheckDispatchInfo",
            data: {
                "dispatchId": dispatchId
            },
            async: false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                if (ReponseResult.data == 0 || ReponseResult.data == '0') {
                    alert("审核失败")
                }
                if (ReponseResult.data == 2 || ReponseResult.data == '2') {
                    alert("该导游当日已有安排");
                    return;
                }
                if (ReponseResult.data == 1 || ReponseResult.data == '1') {
                    alert("审核成功")
                }
                location.reload();
            }
        });

    }

    /**
     * 总控打回调度信息（lixiaojie)
     * @param dispatchId
     */
    function noCheckDispatchInfo(dispatchId) {
        $.ajax({
            url: "/dispatch/noCheckDispatchInfo",
            data: {
                "dispatchId": dispatchId
            },
            async: false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                if (ReponseResult.data == 0 || ReponseResult.data == '0') {
                    alert("打回失败")
                }
                if (ReponseResult.data == 1 || ReponseResult.data == '1') {
                    alert("打回成功")
                }
                location.reload();

            }
        });
    }

</script>

</body>

</html>