<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <style>
        #showstaffInfo tr {
    /*        height: 70px;*/
        }
        #showstaffInfo tr  td{
            text-align: center;
        }
        #staffHead th{
            text-align: center;
        }
    </style>
</head>

<body>
<div class="wrap-container clearfix">
    <div class="column-content-detail">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline tool-btn">
                    <input id="enterAddStaffInfo" onclick="addAlert()" style="font-size: 22px"  type="button" class="layui-btn layui-btn-small layui-btn-normal addBtn" value="+" >

                   <!-- <button class="layui-btn layui-btn-small layui-btn-normal addBtn" id="enterAddStaffInfo" ><i
                            class="layui-icon">&#xe654;</i></button>-->
                </div>
                <div class="layui-inline">
                    <input type="text" name="title" placeholder="请输入姓名关键字" id="staffName" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    开始时间
                    <!--<div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test30" placeholder="yyyy-MM-dd">
                    </div>-->
                    <input type="date"  id="firstDate" />
                </div>
                <div class="layui-inline">
                    结束时间
                  <!--  <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test30" placeholder="yyyy-MM-dd">
                    </div>-->
                    <input type="date"  id="lastDate"/>
                </div>
                <div class="layui-inline">
                    <select id="Job-list" name="states"  lay-filter="status">


                    </select>

                </div>
                <input class="layui-btn layui-btn-normal" type="button" onclick="listPageGetStaffByNameAndCreateDateAndRoleId()" value="搜索"/>
            </div>
        </form>
        <div class="layui-form" id="table-list">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="50">
                    <col class="hidden-xs" width="50">
                    <col class="hidden-xs" width="100">
                    <col>
                    <col class="hidden-xs" width="150">
                    <col class="hidden-xs" width="150">
                    <col width="80">
                    <col width="150">
                </colgroup>
                <thead>
                <tr id="staffHead">
                    <!--<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>-->
                    <th style="width: 30px" >编号</th>
                    <th style="width: 45px" >姓名</th>
                    <th >性别</th>
                    <th>职务</th>
                    <th >用户名</th>
                    <th >身份证号</th>
                    <th >QQ</th>
                    <th style="width: 180px"  >现住址</th>
                    <th>联系电话</th>
                    <th >操作</th>
                </tr>
                </thead>
                <tbody id="showstaffInfo">

                </tbody>
            </table>
            <div id="laypage" style="text-align: center"></div>

        </div>
    </div>
</div>
<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/layui.js"></script>
<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
    /**
     *頁面加載事件
     */
    $(function () {
        showGroupByRolenameRolesInfo()//绑定职务信息
        listPageGetStaffByNameAndCreateDateAndRoleId();//显示分页后的用户信息



    });

    /**
     *  为新增模块添加弹出层
     */
    function addAlert() {
        layer.open({
            type: 2,
            title: '添加',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '600px'],
            content: 'staff-add.html'
        });
    }
    //为修改模块添加弹出层
    function updateAlert(staffId) {
        layer.open({
            type: 2,
            title: '修改',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '600px'],
            content: 'staff-update.html?staffId='+staffId
        });
    }

    //根据用户id删除用户信息
   function deleteStaffBystaffId(staffId){
        if(!confirm("确定要删除吗？")){
            return;
        }

       $.ajax({
           url: "/staff/updateStaffWhetherDel",
           data: {"staffId":staffId},
           dataType: "json",
           type: "post",
           success: function (ReponseResult) {
               if (ReponseResult.data==0||ReponseResult.data=='0') {
                   alert("删除失败")
               }
               if (ReponseResult.data==1||ReponseResult.data=='1') {
                   alert("删除成功")
               }
               listPageGetStaffByNameAndCreateDateAndRoleId();
           },
           error: function (res) {
               /*  alert(res);*/
           }
       })
    }

    var limitcount = 6; // 每页总记录数
    var curnum = 1;  // 当前页码
    function listPageGetStaffByNameAndCreateDateAndRoleId() {
        var staffName = $("#staffName").val();
        var firstDate = $("#firstDate").val();
        var lastDate = $("#lastDate").val();

      /*  var roleId=$("#Job-list option:selected");*/
        var roleId= $('#Job-list option:selected') .val();

        $.ajax({
            url: "/staff/listPageGetStaffByNameAndCreateDateAndRoleId",
            data: {
                "pageNo": curnum,
                "pageSize": limitcount,
                "staffname": staffName,
                "firstDate": firstDate,
                "lastDate": lastDate,
                "roleId": roleId
            },
            async:false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                var pageNo = (curnum - 1) * limitcount;
                var content = "";
                $(ReponseResult.data).each(function (i, e) {
                    pageNo++;
                    content += "<tr  class='parent collapsed' >";
                    content += "<td  >"+pageNo+"</td>";
                    content += "<td >"+e.staffname+"</td>";
                    content += "<td >"+(e.sex==0?'女':'男')+"</td>";
                    content += "<td>"+e.rolename+"</td>";
                    content += "<td >"+e.theUserName+"</td>";
                    content += "<td >"+e.cardId+"</td>";
                    content += "<td  >"+e.qqnumber+"</td>";
                    content += "<td >"+e.currentAddress+"</td>";
                    content += "<td >"+e.phone+"</td>";
                    content += "<td>";
                    content += "<div class='layui-inline'>";
                    content += "<button onclick='updateAlert("+e.staffId+")' class='layui-btn layui-btn-mini layui-btn-normal  edit-btn' ><i class='layui-icon' style='text-align: center'>&#xe642;</i></button>";
                    content += "<button   class='layui-btn layui-btn-mini layui-btn-danger del-btn'  onclick='deleteStaffBystaffId("+e.staffId+")'><i class='layui-icon'>&#xe640;</i></button>";
                    content += "</div>";
                    content += "</td>";
                    content += "</tr>";
                })
 /*               "<button onclick='updatInfo("+result.companyId+")' id='updatInfo'  class=\"layui-btn layui-btn-mini layui-btn-normal  edit-btn\" value='修改'><i class='layui-icon'>&#xe642</i><tton>" +
                "<button onclick='deleteCompany("+result.companyId+")' class=\"layui-btn layui-btn-mini layui-btn-danger del-btn\" data-id=\"1\"><i class=\"layui-icon\">&#xe640;</i><tton>\n" +*/

                $('#showstaffInfo').html(content);


                // 分页插件
                layui.use('table', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'laypage'
                        , count: ReponseResult.count
                        , curr: curnum
                        , limit: 6
                        , layout: ['prev', 'page', 'next', 'skip', 'count']
                        , jump: function (obj, first) {
                            if (!first) {
                                //obj包含了当前分页的所有参数，比如：
                                curnum = obj.curr; // 当前页面
                                limitcount = obj.limit; // 每页记录数
                                // 查询新数据
                                listPageGetStaffByNameAndCreateDateAndRoleId();
                            }
                        }
                    })
                })
            },
            error: function (res) {
                alert(res);
            }
        })
    }


    /*为下拉框绑定职务信息*/
    function showGroupByRolenameRolesInfo() {

        $.ajax({
            url: "/role/showGroupByRolenameRolesInfo",
            data: {},
            async:false,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                var content = "<option  value='0' selected='selected'>请选择职务</option>";
                $(ReponseResult.data).each(function (i, e) {
                    content += "<option value='" + e.roleId + "'>" + e.rolename + "</option>";
                })
                $('#Job-list').html(content);
            },
            error: function (res) {
                alert(res);
            }
        })
    }


</script>
</body>

</html>