<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>
</head>
<body>
<div class="wrap-container">
    <form id="staffInfo" class="layui-form" style="width: 90%;padding-top: 20px;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="staffname"  placeholder="请输入姓名"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    <!--    <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="text" name="password"  placeholder="请输入密码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" checked>
                <input type="radio" name="sex" value="0" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职务：</label>
            <div class="layui-input-block">
                <select id="roleId" name="roleId" lay-filter="status">
                    <option value="0">请选择职务</option>
                    <option value="1">经理</option>
                    <option value="2">总控</option>
                    <option value="3">计调</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-block">
                <input type="text" name="cardId"  placeholder="请输入身份证号" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ号码：</label>
            <div class="layui-input-block">
                <input type="text" name="qqnumber"  placeholder="请输入QQ号码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">现住址：</label>
            <div class="layui-input-block">
                <input type="text" name="currentAddress"  placeholder="请输入现住址"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="text" name="phone"  placeholder="请输入联系电话" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="saveStaffInfo()">
                    立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script>
    $(function () {

    });

    function saveStaffInfo() {
        var staffname = $("input[name='staffname']").val();
/*        var password = $("input[name='password']").val();*/
        var sex = $("input[name='sex']").val();
        var roleId = $("#roleId option:selected").val();

        var cardId = $("input[name='cardId']").val();
        var qqnumber = $("input[name='qqnumber']").val();
        var currentAddress = $("input[name='currentAddress']").val();
        var phone = $("input[name='phone']").val();
        if (staffname==undefined||staffname==""||staffname==null){
            alert("不准为空");
            return;
        }/*
        if (password==undefined||password==""||password==null){
            alert("不准为空");
            return;
        }*/
        if (sex==undefined||sex==""||sex==null){
            alert("不准为空");
            return;
        }
        if (roleId==undefined||roleId==""||roleId==null||roleId==0){
            alert("不准为空");
            return;
        }
        if (cardId==undefined||cardId==""||cardId==null){
            alert("不准为空");
            return;
        }
        if (qqnumber==undefined||qqnumber==""||qqnumber==null){
            alert("不准为空");
            return;
        }
        if (currentAddress==undefined||currentAddress==""||currentAddress==null){
            alert("不准为空");
            return;
        }
        if (phone==undefined||phone==""||phone==null){
            alert("不准为空");
            return;
        }


        var staffInfo = $("#staffInfo").serialize();
        $.ajax({
            url: "/staff/saveStaffInfo",
            data: staffInfo,
            dataType: "json",
            type: "post",
            success: function (ReponseResult) {
                if (ReponseResult.data == 0 || ReponseResult.data == '0') {
                    alert("新增失败")
                }
                if (ReponseResult.data == 1 || ReponseResult.data == '1') {
                    alert("新增成功")
                }
                parent.location.reload();
            },
            error: function (res) {
                /*  alert(res);*/
            }
        })
    }

</script>
<script>
    //Demo
    layui.use(['form'], function () {
        var form = layui.form();
        form.render();
        //监听提交
        form.on('submit(formDemo)', function (data) {
            return false;
        });
    });
</script>
</body>

</html>