<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
		<link rel="stylesheet" href="/css/layui.css" media="all">
	</head>

	<body>
		<div class="page-content-wrap">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-inline tool-btn">
								<input type="button" class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs"
									   id="anteraddInfo" style="width: 55px;font-size: 26px" value="+"></input>
								
							</div>
							<div class="layui-inline">
								<input type="text" name="title" placeholder="请输入旅行社名称" autocomplete="off" class="layui-input" id="travelName">
							</div>

							<input type="button" class="layui-btn layui-btn-normal" onclick="loadData()" value="搜索"
								   style="width: 80px"></input>
						</div>
					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-skin="line">
							<colgroup>
								<col width="50">
								<col class="hidden-xs" width="50">
								<col class="hidden-xs" width="100">
								<col class="hidden-xs" width="100">
								<col>
								<col width="80">
								<col width="130">
							</colgroup>
							<thead>
								<tr>

									<th style="width: 80px;">编号</th>
									<th style="width: 100px;">旅行社名称</th>
									<th style="width: 80px;">负责人名字</th>
									<th style="width: 80px;">负责人职位</th>
									<th style="width: 120px;">联系电话</th>
									<th style="width: 200px;">操作</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<div id="laypage" style="text-align: center"></div>
					</div>
		</div>
		<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery-1.8.2.min.js"></script>
		<script src="/layui.js"></script>
		<script>
			layui.use(['jquery'], function() {
				var $=layui.jquery;
				//修改状态
				$('#table-list').on('click', '.table-list-status', function() {
					var That = $(this);
					var status = That.attr('data-status');
					var id = That.parent().attr('data-id');
					if(status == 1) {
						That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
					} else if(status == 2) {
						That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

					}
				})
				//栏目展示隐藏
				$('.showSubBtn').on('click', function() {
					var _this = $(this);
					var id = _this.attr('data-id');
					var parent = _this.parents('.parent');
					var child = $('.child-node-' + id);
					var childAll = $('tr[parentid=' + id + ']');
					if(parent.hasClass('collapsed')) {
						_this.html('-');
						parent.addClass('expanded').removeClass('collapsed');
						child.css('display', '');
					} else {
						_this.html('+');
						parent.addClass('collapsed').removeClass('expanded');
						child.css('display', 'none');
						childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
						childAll.find('.showSubBtn').html('+');
					}

				})
			});


			//窗体加载事件
			$(function () {
                loadData();
                //添加弹窗事件
                $('#anteraddInfo').on('click', function () {
                    layer.open({
                        type: 2,
                        title: '公司添加',
                        maxmin: true,
                        shadeClose: true, //点击遮罩关闭层
                        area: ['800px', '520px'],
                        content: 'travel_add.html'
                    });
                });
            });


            //修改弹窗事件
            function updatInfo(travelid) {
                layer.open({
                    type: 2,
                    title: '公司修改',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area: ['800px', '520px'],
                    content: 'travel_add.html?travelid=' + travelid
                });
            }




            var limitcount = 6; // 每页总记录数
            var curnum = 1;  // 当前页码
            //分页查询
            function loadData() {
                var travelName = $("#travelName").val();
                var str = "";
                $.ajax({
                    url: "/travel/showAllTravel",
                    data: {page: curnum, limit: limitcount, travelName: travelName},
                    dataType: "json",
                    type: "get",
                    success: function (e) {
                        var pageNo = (curnum - 1) * limitcount;
                        $(e.data).each(function (i, result) {
                            pageNo++;
                            str += "<tr><td>" + (pageNo)
								+ "</td><td>" + result.travelName + "</td><td>"
                                + result.personName + "</td><td>"
                                + result.personPost + "</td><td>"
                                + result.phone + "</td>"
                                + "<td>\n" +
                                "<div class=\"layui-inline\">\n" +
                                "<button onclick='updatInfo(" + result.travelId + ")' id='updatInfo'  class=\"layui-btn layui-btn-mini layui-btn-normal  edit-btn\"><i class='layui-icon'>&#xe642</i></button>" +
                                "<button onclick='deleteTravel(" + result.travelId + ")' class=\"layui-btn layui-btn-mini layui-btn-danger del-btn\" data-id=\"1\"><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                                "</div>\n" +
                                "</td>" + "</tr>";
                        })
                        $('tbody').html(str);
                        // 分页插件
                        layui.use('table', function () {
                            var laypage = layui.laypage;
                            laypage.render({
                                elem: 'laypage'
                                , count: e.count
                                , curr: curnum
                                , limit: 6
                                , layout: ['prev', 'page', 'next', 'skip', 'count']
                                , jump: function (obj, first) {
                                    if (!first) {
                                        //obj包含了当前分页的所有参数，比如：
                                        curnum = obj.curr; // 当前页面
                                        limitcount = obj.limit; // 每页记录数
                                        // 查询新数据
                                        loadData();
                                    }
                                }
                            })
                        })
                    },
                    error: function (res) {
                        alert(res);
                    }
                })
            }

            //删除方法
            function deleteTravel(id) {
                if (confirm("确定删除数据?")) {
                    $.ajax({
                        url: "/travel/deleteTravelByID",
                        data: {travelid: id},
                        dataType: "json",
                        type: "get",
                        success: function (data) {
                            if (data.data == 1 || data.data == "1") {
                                alert("删除成功");
                                loadData();
                            } else {
                                alert("删除失败");
                                loadData();
                            }
                        }
                    })
                }
            }
		</script>
	</body>

</html>