<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>

</head>
<body>

            <form class="layui-form" style="width: 90%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="staffId" id="hiddenStaffIds" th:value="${staffId}">
                        <input type="text" name="username" disabled autocomplete="off"
                               class="layui-input " value="admin">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password1" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password2" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">重复密码：</label>
                    <div class="layui-input-block">
                        <input type="password" name="password3" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="adminInfo"
                               onclick="updateStaff1()" value="立即提交"></input>
                    </div>
                </div>
            </form>
<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/getUrlParam.js"></script>
<script src="/js/jquery-3.2.1.js"></script>
<script>
    $(function () {
        
    });

    /**
     * 从session中获取id(lixiaojie)
     */
    function getStaffIdBySession() {

    }

    
    
    //修改密码方法
    function updateStaff1() {
        var password1 = $("input[name=password1]").val();
        var password2 = $("input[name=password2]").val();
        var password3 = $("input[name=password3]").val();
        if (password1 == "" || password1 == null) {
            alert("请输入旧密码！");
            return
        }
        if (password2 == "" || password2 == null) {
            alert("请输入新密码！");
            return
        }
        if (password3 == "" || password3 == null) {
            alert("请输入重复密码！");
            return
        }
        if (password2 != password3) {
            alert("新密码或重复密码不一致请重新输入！");
            return
        }
        $.ajax({
            url: "/staff/updateStaff1",
            data: {password: password3},
            dataType: "json",
            type: "get",
            async:false,
            success: function (data) {
                if (data.data == 1 || data.data == "1") {
                    alert("修改成功");
                } else {
                    alert("修改失败");
                }
                parent.location.reload();
            }
        })
    }


</script>
</body>
</html>