<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>山西世达国旅订房通知单</title>
<style>
	table{ width:100%}
</style>
</head>

<body>
	
	<div style="width:60%; margin:0 auto">
		<div id="tupian">
				<img src="/images/logo.jpg" width="640px" height="50px">
		</div>
    	<h2 style="text-align:center">山西世达国旅订房通知单</h2>
    	<table>
        	<tr>
            	<td style="width:10%">部门：</td>
                <td style="width:30%">计调部</td>
                <td style="width:10%">导游：</td>
                <td style="width:30%"></td>
                <td style="width:20%">2018年3月20日</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:15%; text-align:center">团&nbsp;&nbsp;&nbsp;名</td>
                <td style="width:35%" id="travelName"></td>
                <td style="width:15%; text-align:center">客源地</td>
                <td style="width:35%" id="tourist"></td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:15%; text-align:center">人&nbsp;&nbsp;&nbsp;数</td>
                <td style="width:10%" id="num"></td>
                <td style="width:20%">全陪/领队</td>
                <td style="width:20%">1人</td>
                <td style="width:15%; text-align:center">地陪司机</td>
                <td style="width:20%">2人</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
             <tr>
                 <td style="width:25%">用房时间</td>
                 <td style="width:25%; text-align:center">宾馆名称</td>
                 <td style="width:50%; text-align:center">团队用房</td>
             </tr>
         	<tbody id="t">

            <!--<tr>
            	<td>415-4.16</td>
                <td>锦江都城酒店</td>
                <td>10标</td>
            </tr>
            <tr>
            	<td>416-4.17</td>
                <td>浩海国际酒店</td>
                <td>10标+2司陪</td>
            </tr>
            <tr>
            	<td>417-4.18</td>
                <td>宏源国际酒店</td>
                <td>10标+2司陪</td>
            </tr>-->
            </tbody>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:25%; text-align:center">备 注</td>
                <td style="width:75%" id="remarks">
                	<!--1、请安排无烟房或做无烟处理<br/>
                    2、请安排高层、相同或相近楼层、相近房间<br/>
                    3、收到请<strong style="font-size:24px">签字并盖章</strong>回传确认<br/>-->
                </td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:25%">确认酒店名称</td>
                <td style="width:35%"></td>
                <td style="width:22%; text-align:center">酒店确认人</td>
                <td style="width:18%"></td>
            </tr>
         </table>
         <table>
         	<tr>
            	<td style="width:8%">团控:</td>
                <td style="width:30%" id="teamContactsName"></td>
                <td style="width:8%">TEL：</td>
                <td style="width:26%">0351-7896890</td>
                <td style="width:8%">FAX：</td>
                <td style="width:20%">0351-7925068</td>
            </tr>
         </table>
        <div style="border: 1px #000 solid;width: 900px;height: 150px">

        </div>
        <br>
        <div style="border: 1px #000 solid;width: 900px;height: 300px">

        </div>
    </div>
</body>
</html>
<script src="/js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        dispatchShow();
    })
    //数据渲染
    function dispatchShow() {
        $.ajax({
            url: "/dispatch/getDispatchInfoByDispatchId",
            data: {dispatchId:1},
            dataType: "json",
            type: "post",
            success: function (e) {
                var str="";
                var date="";
                var date1="";
                var date2="";
                var date3="";
                var num1="";
                $("#travelName").text(e.data.groupNumber);//团名
                $("#remarks").text(e.data.remarks)//备注);
                $("#tourist").text(e.data.tourist);//客源地
                $("#num").text(e.data.num);//人数
                $("#teamContactsName").text(e.data.dispatchtourgroup.teamcontactsname+"  "+e.data.dispatchtourgroup.contactnumber);//团控
                $.each(e.data.dispatchhotel,function (i, result) {
                    date=result.date.substring(5,10);
                    var ss1=date.replace("-",".");
                    date2=result.date.substring(5,9);
                    date1=date.substring(4);
                    date1++;
                    date3=date2+date1;
                    var ss2=date3.replace("-",".");
                    num1= Math.ceil(e.data.num/2);
                    str +="<tr>\n" +
                        "\t<td>"+ss1+"-"+ss2+"</td>\n" +
                        " <td>"+result.hotel.hotelName+"</td>\n" +
                        "<td>"+num1+"标+"+result.companyBedNum+"司陪</td>\n" +
                        "</tr>";
                })
                $("#t").html(str);
            }
        })
    }
</script>
