<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>打印页面</title>
    <style>
        table {
            width: 100%
        }
    </style>
</head>

<body>
<div id="dy">
<div style="width:60%; margin:0 auto">
    <div id="tupian">
        <img src="/images/logo.jpg" width="640px" height="50px">
    </div>
    <h2 style="text-align:center"><span style="text-decoration:underline">STS-RJ-2018-04-15JD</span>确认书(0326件)</h2>
    <table border="1" cellspacing="0" cellpadding="0">

        <tr>
            <td>收件单位及收件人</td>
            <td id="shoujian">西美 赖建章 经理</td>
            <td>发件单位及发件人</td>
            <td>山西世达国旅  <span id="fajian">崔俊娜</span></td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width:10%">紧急联络</td>
            <td style="width:40%"></td>
            <td style="width:10%">紧急联络</td>
            <td style="width:40%" id="fajianphone">15235433422</td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width:13%">人数</td>
            <td style="width:12%" id="number">19+1T/L</td>
            <td style="width:10%">客源地</td>
            <td style="width:20%" id="tourist">台湾</td>
            <td style="width:15%">旅行日期</td>
            <td style="width:30%" id="travelStartTime">2018年4.15-4.22</td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <td style="width:5%; text-align:center">天数</td>
            <td style="width:12%; text-align:center">离/抵</td>
            <td style="width:53%; text-align:center">行程内容</td>
            <td style="width:15%; text-align:center">餐食</td>
            <td style="width:15%; text-align:center">住宿</td>
        </tr>
        </thead>
        <tbody id="append">

        </tbody>
    </table>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width:5%; text-align:center">接<br/><br/>待<br/><br/>标<br/><br/>准</td>
            <td id="reception">
                1、用房：<br/>
                2、用餐：<br/>
                3、交通：<br/>
                4、门票：<br/>
                5、导游：<br/>
                6、贴心药包：<br/>
                7、组团社确保客人拿到的确认书一致，感谢配合<br/>
                8、报价不含人身意外伤害险、行李小费、个人消费及司陪小费<br/>
                9、接站牌：____________<br/>
                10、领队无领队登记请门票自理：<br/>
            </td>
        </tr>
        <tr>
            <td>不含</td>
            <td id="notExclude">往返机票及税、旅游人身意外伤害险、酒店行李生小费</td>
        </tr>
        <tr>
            <td>S/P</td>
            <td id="shopping">NO SP，可自费（允许车载：山西土特产、大红枣、核桃、小米）</td>
        </tr>
        <tr>
            <td style="width:5%; text-align:center">报价</td>
            <td id="offertotal" style="align-content: right"></td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="width:50%; height:100px;" valign="top">组团社盖章：</td>
            <td style="width:50%" valign="top">地接社盖章：</td>
        </tr>
    </table>
    <p style="text-align:right" id="riqi"></p>
</div>
</div>
<input type="button" value="打印预览" onclick="printview()">&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="打印维护" onclick="updatePrint()">
</body>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/lodop/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/lodop/LodopFuncs.js"></script>
<script>
    var sdate=new Date();     //new一个日对象
    var time = sdate.toLocaleDateString();
    time=time.replace("/","年");
    time=time.replace("/","月");
    time+="日";
    $("#riqi").html(time)
    load();
    function load() {
        $.ajax({
            url: "/offer/previewInfoOffer",
            data: "",
            dataType: "json",
            type: "get",
            success: function (data) {
                var context="";
                $.each(data.data.list,function (i,e) {
                    var day=e.day.replace("-",".").replace(/0/g,"");
                    if(e.day.substring(e.day.length-1)=="0"){
                        day+="0";
                    }
                    if(e.day.substring(e.day.indexOf("-")-1,e.day.indexOf("-"))=="0"){
                        day=day.substring(0,1)+"0"+day.substring(1)
                    }
                    //alert(e.day.substring(1,1));
                    context+=" <tr>\n" +
                        "            <td>"+day+"</td>\n" +
                        "            <td>"+e.dl+"</td>\n" +
                        "            <td>"+e.xc+"</td>\n" +
                        "            <td>"+e.cs+"</td>\n" +
                        "            <td>"+e.zs+"<br/>\n" +
                        "                "+e.zsdh+"\n" +
                        "            </td>\n" +
                        "        </tr>";
                })
                $("#offertotal").html("￥"+data.data.offer.offer);
                $("#append").html(context);
                $("#reception").html(data.data.offer.reception);
                $("#notExclude").html(data.data.offer.notExclude);
                $("#number").html(data.data.offer.number)
                $("#tourist").html(data.data.offer.tourist)
                $("#travelStartTime").html(data.data.offer.travelStartTime)
                $("#shopping").html(data.data.offer.shopping)
                var shoujian=data.data.str11+"  "+data.data.str12+"  "+data.data.str13
                $("#shoujian").html(shoujian);
                $("#fajian").html(data.data.str21);
                $("#fajianphone").html(data.data.str22);
            },error: function () {
                alert("程序异常")
            }
        })
    }
    var LODOP;//声明为全局变量
    function printview(){
        createPage();
        LODOP.PREVIEW(); //打印预览
    }
    function updatePrint(){
        createPage();
        LODOP.PRINT_SETUP();//打印维护
    }
    function print(){
        createPage();
        LODOP.PRINT_DESIGN();//直接打印
    }

    function createPage(){
        LODOP=getLodop();  //获取打印对象
        //var style="<style>"+document.getElementById("style").innerHTML+"</style>";
        var html="<body>"+document.getElementById("dy").innerHTML+"</body>";
        LODOP.SET_PRINT_STYLE("Bold",1); //字体加粗
        LODOP.ADD_PRINT_HTM(20,0,700,1000,html); //打印HTML
    }

</script>
</html>
