<!DOCTYPE html>
<html>
	<style>
		*{margin: 0 auto;}
        table,table tr th, table tr td { border:1px solid #0094ff; height: 20px;}
        table { width: 60%; min-height: 20px; line-height: 20px; text-align: center; border-collapse: collapse;} 
        .cc{text-align: left;}  
    </style>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<div id="tupian" style="width: 635px;margin-left: 365px;">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<table>   

			<tr>
				<td colspan="17" style="text-align: center;">地铁导游报账明细表</td>
			</tr>
			<tr>
				<td colspan="2">团号</td>
				<td colspan="4" class="travelName"></td>
				<td colspan="2">抵离时间</td>
				<td colspan="4" class="offset"></td>
				<td>线路</td>
				<td colspan="4" class="sendLine"></td>
			</tr>
			<tr>
				<td colspan="3">组团社（单位）</td>
				<td colspan="3" class="groupNumber"></td>
				<td>人数</td>
				<td colspan="4" class="num"></td>
				<td>天数</td>
				<td colspan="2" class="day"></td>
				<td colspan="1">客源地</td>
				<td colspan="2"class="tourist"></td>
			</tr>
			<!--<tr>
				<td rowspan="9">住<br>宿</td>				
				<td>日期</td>
				<td colspan="2">酒店名称</td>
				<td colspan="2">房价</td>
				<td>间数</td>
				<td colspan="2">陪同床位</td>
				<td colspan="2">陪同床价</td>
				<td colspan="2">天数</td>
				<td colspan="2">小计</td>
				<td colspan="2">支付方式</td>
			</tr>-->
			<tbody class="zhu"></tbody>
			<tbody class="can"></tbody>
			<tbody class="jin"></tbody>
			<!--<tr>
				<td ></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>-->

			<!--<tr>
					<td rowspan="8">餐厅</td>
					<td>午餐日期</td>
					<td>餐厅名称</td>
					<td>餐标</td>
					<td>人数</td>
					<td>次数</td>
					<td>其它</td>
					<td>小计</td>
					<td>支付方式</td>
					<td>晚餐日期</td>
					<td>餐厅名称</td>
					<td>餐标</td>
					<td>人数</td>
					<td>次数</td>
					<td>其它</td>
					<td>小计</td>
					<td>支付方式</td>
				</tr>-->
				<!--<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>-->
				<!--<tr>
					<td colspan="2">用餐合计</td>
					<td colspan="3"></td>
					<td colspan="2">其中导游付</td>
					<td colspan="4"></td>
					<td colspan="2">签单合计</td>
					<td colspan="3"></td>
				</tr>-->
				<!--<tr>
					<td rowspan="9">门票</td>
					<td colspan="2">景点门票</td>
					<td colspan="2">单价</td>
					<td>人数</td>
					<td colspan="2">小计</td>
					<td colspan="2">支付方式</td>
					<td colspan="2">景点门票</td>
					<td>单价</td>
					<td>人数</td>
					<td>小计</td>
					<td colspan="3">支付方式</td>
				</tr>-->
				<!--<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>-->
				<!--<tr>
					<td colspan="2">门票合计</td>
					<td colspan="3"></td>
					<td colspan="2">其中导游付</td>
					<td colspan="4"></td>
					<td colspan="2">签单合计</td>
					<td colspan="3"></td>
				</tr>-->
				<tr>
					<td rowspan="2">车费</td>
					<td>过路费</td>
					<td>停车费</td>
					<td>预付车费</td>
					<td colspan="2">合计</td>
					<td rowspan="2">出团补助</td>
					<td colspan="3">元/天</td>
					<td colspan="2">天数</td>
					<td colspan="2">导游数</td>
					<td colspan="2">合计</td>
					<td>支付方式</td>
				</tr>
				<tr>
					<td class="tolls"></td>
					<td class="parkingFee"></td>
					<td class="prepaidFare"></td>
					<td colspan="2" class="cfhj"></td>
					<td colspan="3" class="dailyCost"></td>
					<td colspan="2" class="nums"></td>
					<td colspan="2" class="guideNum"></td>
					<td colspan="2" class="guidehj"></td>
					<td colspan="2">导游付</td>
				</tr>
				<tr>
					<td rowspan="4" colspan="2">其他支出</td>
					<td colspan="15">请列出项目及计算过程：</td>
				</tr>
				<tr>
					<td colspan="15" class="remarks"></td>
				</tr>
				<tr>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td>导游付</td>
					<td colspan="3" class="guidedTour"></td>
					<td>签单</td>
					<td colspan="5" class="signing"></td>
					<td>合计</td>
					<td colspan="4" class="total"></td>
				</tr>
				<tr>
					<td class="cc" colspan="17">交回其它单据及内容（包括购物签单）：</td>
				</tr>
				<tr>
					<td colspan="17"></td>
				</tr>
				<tr>
					<td class="cc" colspan="17">现收团款明细：</td>
				</tr>
				<tr>
					<td colspan="17"></td>
				</tr>
				<tr>
					<td colspan="2">原借贷</td>
					<td colspan="3"></td>
					<td>外售团款</td>
					<td colspan="3" class="receipt"></td>
					<td colspan="2">导游现付合计</td>
					<td colspan="2" class="totalPayable"></td>
					<td colspan="2">报/退款</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>备注</td>
					<td class="cc" colspan="16">导游以全票制报销，票据必须与所列明细相符，按派团单上的标准报销，发票要与所列的酒店，餐厅，景点的名称相符，不得以其他发票代替。按以上所列分类粘贴（火车，飞机票无原件可以用复印件代替）</td>
				</tr>
				<tr>
					<td colspan="2">报账日期</td>
					<td colspan="3" class="reportDate"></td>
					<td>导游签字</td>
					<td colspan="5"></td>
					<td colspan="2">审核人批示</td>
					<td colspan="4"></td>
				</tr>
		</table>
	</body>
</html>
<script src="/js/jquery-1.8.2.min.js"></script>
<script>
    $(function () {
        dispatchShow();
    })
    //数据渲染
    function dispatchShow() {
        $.ajax({
            url: "/reportdetail/selectReportdetailById",
            data: {reportDetailId:1},
            dataType: "json",
            type: "post",
            success: function (e) {
				var ss=e.data.reportDate;
				var reg=new RegExp("-","g");
				var ss1=ss.replace(reg,".");
                $(".receipt").text(e.data.receipt);
                $(".totalPayable").text(e.data.totalPayable);
                $(".reportDate").text(ss1);
                var total=e.data.reportingotherexpenses.guidedTour+e.data.reportingotherexpenses.signing;
                $(".remarks").text(e.data.reportingotherexpenses.remarks);
                $(".guidedTour").text(e.data.reportingotherexpenses.guidedTour);
                $(".signing").text(e.data.reportingotherexpenses.signing);
                $(".total").text(total);
                var guidehj=e.data.reportqutsubsidy.dailyCost*e.data.reportqutsubsidy.nums*e.data.reportqutsubsidy.guideNum;
                $(".dailyCost").text(e.data.reportqutsubsidy.dailyCost);
                $(".nums").text(e.data.reportqutsubsidy.nums);
                $(".guideNum").text(e.data.reportqutsubsidy.guideNum);
                $(".guidehj").text(guidehj);
                var cfhj=e.data.reportfare.tolls+e.data.reportfare.parkingFee+e.data.reportfare.prepaidFare;
                $(".tolls").text(e.data.reportfare.tolls);
                $(".parkingFee").text(e.data.reportfare.parkingFee);
                $(".prepaidFare").text(e.data.reportfare.prepaidFare);
                $(".cfhj").text(cfhj);
                var travelEndTime=e.data.dispatch.travelEndTime.substring(0,10);
                var travelEndTime2=travelEndTime.replace(reg,".");
				var travelStartTime=e.data.dispatch.travelStartTime.substring(0,10);
                var travelStartTime3=travelStartTime.replace(reg,".");
                var travelEndTime1=e.data.dispatch.travelEndTime.substring(8,10);
                var travelStartTime1=e.data.dispatch.travelStartTime.substring(8,10);
                var day=travelEndTime1-travelStartTime1;
                $(".offset").text(travelStartTime3+"到"+travelEndTime2);
                $(".travelName").text(e.data.dispatch.groupNumber);
                $(".sendLine").text(e.data.disline.lineName);
                $(".num").text(e.data.dispatch.num);
                $(".day").text(day);
                $(".tourist").text(e.data.dispatch.tourist);
               var subtotal="";
               var content2="<tr>\n" +
                   "\t\t\t\t\t<td rowspan=\""+(e.data.reportticketList.length+2)+"\">门票</td>\n" +
                   "\t\t\t\t\t<td colspan=\"2\">景点门票</td>\n" +
                   "\t\t\t\t\t<td colspan=\"2\">单价</td>\n" +
                   "\t\t\t\t\t<td>人数</td>\n" +
                   "\t\t\t\t\t<td colspan=\"2\">小计</td>\n" +
                   "\t\t\t\t\t<td colspan=\"2\">支付方式</td>\n" +
                   "\t\t\t\t\t<td colspan=\"2\">景点门票</td>\n" +
                   "\t\t\t\t\t<td>单价</td>\n" +
                   "\t\t\t\t\t<td>人数</td>\n" +
                   "\t\t\t\t\t<td>小计</td>\n" +
                   "\t\t\t\t\t<td colspan=\"3\">支付方式</td>\n" +
                   "\t\t\t\t</tr>";

               var content1="<tr>\n" +
                   "\t\t\t\t\t<td rowspan=\""+(e.data.reportrestaurantList.length+2)+"\">餐厅</td>\n" +
                   "\t\t\t\t\t<td>午餐日期</td>\n" +
                   "\t\t\t\t\t<td>餐厅名称</td>\n" +
                   "\t\t\t\t\t<td>餐标</td>\n" +
                   "\t\t\t\t\t<td>人数</td>\n" +
                   "\t\t\t\t\t<td>次数</td>\n" +
                   "\t\t\t\t\t<td>其它</td>\n" +
                   "\t\t\t\t\t<td>小计</td>\n" +
                   "\t\t\t\t\t<td>支付方式</td>\n" +
                   "\t\t\t\t\t<td>晚餐日期</td>\n" +
                   "\t\t\t\t\t<td>餐厅名称</td>\n" +
                   "\t\t\t\t\t<td>餐标</td>\n" +
                   "\t\t\t\t\t<td>人数</td>\n" +
                   "\t\t\t\t\t<td>次数</td>\n" +
                   "\t\t\t\t\t<td>其它</td>\n" +
                   "\t\t\t\t\t<td>小计</td>\n" +
                   "\t\t\t\t\t<td>支付方式</td>\n" +
                   "\t\t\t\t</tr>";

               var content="<tr>\n" +
                   "\t\t\t\t<td rowspan=\""+(e.data.reportaccommodationList.length+2)+"\">住<br>宿</td>\t\t\t\t\n" +
                   "\t\t\t\t<td>日期</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">酒店名称</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">房价</td>\n" +
                   "\t\t\t\t<td>间数</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">陪同床位</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">陪同床价</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">天数</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">小计</td>\n" +
                   "\t\t\t\t<td colspan=\"2\">支付方式</td>\n" +
                   "\t\t\t</tr>";
                var riqi="";
                var wuriqi="";
                var wanriqi="";
                var zong="";
                var xj=0;
                var wuxj=0;
                var wanxj=0;
                var yongzhong=0;
                var jinxj=0;
                var mp=0;
                var qiandan=0;
                var xianfu=0;
                var qiandan1=0;
                var xianfu1=0;
                var qiandan2=0;
                var xianfu2=0;
                var qiandan3=0;
                var xianfu3=0;
                var qiandan4=0;
                var xianfu4=0;
                //住宿
                $.each(e.data.reportaccommodationList,function (i, result) {
                    subtotal=(result.housePrice*result.roomNum)+(result.accompanyingBed*result.accompanyingPrice)
                    if(result.payMethods=="签单"){
						qiandan+=subtotal
                    }
                    if(result.payMethods=="现付"){
						xianfu+=subtotal
                    }
                    if(result.liveDate!=null){
                        riqi=result.liveDate.substring(8,10);
					}

					content+="<tr>\n" +
                        "\t\t\t\t<td>"+riqi+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+result.hotelName+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+result.housePrice+"</td>\n" +
                        "\t\t\t\t<td>"+result.roomNum+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+result.accompanyingBed+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+result.accompanyingPrice+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">1</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+subtotal+"</td>\n" +
                        "\t\t\t\t<td colspan=\"2\">"+result.payMethods+"</td>\n" +
                        "\t\t\t</tr>";
                    	xj+=subtotal;
                })

				//餐厅
                $.each(e.data.reportrestaurantList,function (i, result) {
                    wuxj=(result.lunchMeal)*(result.lunchEatNum);
                    wanxj=(result.dinnerMeal)*(result.dinnerEatNum);
                    if(result.lunchPayMethods=="签单"){
                        qiandan1+=wuxj
                    }
                    if(result.lunchPayMethods=="现付"){
                        xianfu1+=wuxj
                    }
                    if(result.dinnerPayMethods=="签单"){
                        qiandan2+=wanxj
                    }
                    if(result.dinnerPayMethods=="现付"){
                        xianfu2+=wanxj
                    }
					qiandan3=qiandan1+qiandan2;
                    xianfu3=xianfu1+xianfu2;
                    if(result.lunchDate!=null){
                        wuriqi=result.lunchDate.substring(8,10);
                    }
                    if(result.dinnerDate!=null){
                        wanriqi=result.dinnerDate.substring(8,10);
                    }
                    content1+="<tr>\n" +
                        "\t\t\t\t\t<td>"+wuriqi+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.luncheonName+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.lunchMeal+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.lunchEatNum+"</td>\n" +
                        "\t\t\t\t\t<td>1</td>\n" +
                        "\t\t\t\t\t<td>"+result.lunchother+"</td>\n" +
                        "\t\t\t\t\t<td>"+wuxj+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.lunchPayMethods+"</td>\n" +
                        "\t\t\t\t\t<td>"+wanriqi+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.dinnerName+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.dinnerMeal+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.dinnerEatNum+"</td>\n" +
                        "\t\t\t\t\t<td>1</td>\n" +
                        "\t\t\t\t\t<td>"+result.dinnerother+"</td>\n" +
                        "\t\t\t\t\t<td>"+wanxj+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.dinnerPayMethods+"</td>\n" +
                        "\t\t\t\t</tr>";
                    yongzhong+=(wuxj+wanxj);
                })

				//门票
                $.each(e.data.reportticketList,function (i, result) {
                    jinxj=(result.price)*(result.nums);
                    if(result.payMethods=="签单"){
                        qiandan4+=jinxj
                    }
                    if(result.payMethods=="现付"){
                        xianfu4+=jinxj
                    }
                    content2+="<tr>\n" +
                        "\t\t\t\t\t<td colspan=\"2\">"+result.attrName+"</td>\n" +
                        "\t\t\t\t\t<td colspan=\"2\">"+result.price+"</td>\n" +
                        "\t\t\t\t\t<td>"+result.nums+"</td>\n" +
                        "\t\t\t\t\t<td colspan=\"2\">"+jinxj+"</td>\n" +
                        "\t\t\t\t\t<td colspan=\"2\">"+result.payMethods+"</td>\n" +
                        "\t\t\t\t\t<td colspan=\"2\"></td>\n" +
                        "\t\t\t\t\t<td></td>\n" +
                        "\t\t\t\t\t<td></td>\n" +
                        "\t\t\t\t\t<td></td>\n" +
                        "\t\t\t\t\t<td></td>\n" +
                        "\t\t\t\t\t<td></td>\n" +
                        "\t\t\t\t</tr>";
                    mp+=jinxj;
                })
				content+="<tr>\n" +
                    "\t\t\t\t<td colspan=\"2\">住宿合计</td>\n" +
                    "\t\t\t\t<td colspan=\"3\">"+xj+"</td>\n" +
                    "\t\t\t\t<td colspan=\"2\">其中导游付</td>\n" +
                    "\t\t\t\t<td colspan=\"4\">"+xianfu+"</td>\n" +
                    "\t\t\t\t<td colspan=\"2\">签单合计</td>\n" +
                    "\t\t\t\t<td colspan=\"3\">"+qiandan+"</td>\n" +
                    "\t\t\t</tr>";
                content1+="<tr>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">用餐合计</td>\n" +
                    "\t\t\t\t\t<td colspan=\"3\">"+yongzhong+"</td>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">其中导游付</td>\n" +
                    "\t\t\t\t\t<td colspan=\"4\">"+xianfu3+"</td>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">签单合计</td>\n" +
                    "\t\t\t\t\t<td colspan=\"3\">"+qiandan3+"</td>\n" +
                    "\t\t\t\t</tr>";
                content2+="<tr>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">门票合计</td>\n" +
                    "\t\t\t\t\t<td colspan=\"3\">"+mp+"</td>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">其中导游付</td>\n" +
                    "\t\t\t\t\t<td colspan=\"4\">"+xianfu4+"</td>\n" +
                    "\t\t\t\t\t<td colspan=\"2\">签单合计</td>\n" +
                    "\t\t\t\t\t<td colspan=\"3\">"+qiandan4+"</td>\n" +
                    "\t\t\t\t</tr>";
				$(".zhu").html(content);
                $(".can").html(content1);
                $(".jin").html(content2);
            }
        })
    }
</script>