<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style>
			#header{
				margin: 0px auto;
				border: 1px black solid;
				width: 60%;
			}
			table{
				width: 100%;
			}
			#tou{
				margin-left: 680px;
			}
			#xianmian{
				margin-left: 355px;
				font-size: 14px;
			}
		</style>

	</head>
	<body>
	<div id="dy">
		<div id="tupian" style="width: 655px;margin-left: 355px;">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<div id="tou">
			<p style=" text-decoration: underline; font-size: 30px;">派&nbsp;&nbsp;&nbsp;&nbsp;团&nbsp;&nbsp;&nbsp;&nbsp;单</p>
		</div>
		<br />
		<div id="header">
		<table border="1" cellspacing="0" cellpadding="0">
		    <thead>
		    	<tr>
		    		<td>导游</td>
		    		<td id="guideName">李金虎 18835107476</td>
		    		<td>司机</td>
		    		<td  id="carInfo">晋AA9279张师傅15255588847</td>
		    		<td>计调</td>
		    		<td id="staffName">崔俊娜18603416895</td>
		    	</tr>
		    	   	<tr>
		    		<td>时间</td>
		    		<td id="qztime">2018.4.15-4.22</td>
		    		<td>人数</td>
		    		<td colspan="3" style="border: 0px;">
		    			<table border="1" cellspacing="0" cellpadding="0">
		    				<tr><td id="num">9+1T/L</td>
		    		<td>用房</td>
		    		<td id="houses"> &nbsp; &nbsp; &nbsp; &nbsp;</td>
		    		<td>客源地</td>
		    		 <td id="tourist">台湾</td></tr>
		    			</table>
		    		</td>
		    	</tr>
		    </thead>
		    <tbody>
		    	<table border="1" cellspacing="0" cellpadding="0" id="info1">
		    		<tr>
		    			<td>日期</td>
		    			<td>午餐</td>
		    			<td>餐标，元/人</td>
		    			<td>晚餐</td>
		    			<td>餐标，元/人</td>
		    			<td>客人住宿，元/间天*间</td>
		    			<td>司陪</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    			<tr>
		    			<td>总计</td>
		    			<td colspan="6" style="background-color:  darkgrey;">餐：现付3948元，房：现付5750元，合计：现付9698</td>
		    		</tr>
		    	</table>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>门票</td>
		    			<td style="border: 0px;">
		    				<table border="1" cellspacing="0" cellpadding="0">
		    					<tr>
		    						<td>付款方式及折扣</td>
		    						<td style="border: 0px;">
		    							<table border="1" cellspacing="0" cellpadding="0" id="info2">
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    							</table>
		    						</td>
		    					</tr>
		    					<tr>
		    						<td style="width: 20px;">计</td>
		    						<td style="background-color:  darkgrey;" id="jnum">现付5832</td>
		    					</tr>
		    				</table>
		    			</td>
		    		</tr>
		    	</table>
		    </tbody>
		    <tfoot>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>车费</td>
		    			<td id="carnunm">车费2450+过停1500=3950元</td>
		    			<td>酒水</td>
		    			<td id="wineFee">矿泉水54元</td>
		    		</tr>
		    			<tr>
		    			<td>总计</td>
		    			<td colspan="3" id="zjnum">现付9999元</td>
		    		</tr>
					<tr id="jk">
		    			<td>导游<br/>签收</td>
		    			<td colspan="3">1.房单（）&nbsp;&nbsp;2.餐单（）&nbsp;&nbsp;3.门票单（）&nbsp;&nbsp;4.返程机票或火车票（） &nbsp;&nbsp;5.游客意见表（）<br/>导游借款：19000元</td>
		    		</tr>
		    	</table>
		    </tfoot>
		 </table>
		</div>
		<div id="xianmian">
			<p>接团注意事项</p>
			<p>1. 此表仅供我社导游使用，对外要绝对保密，如因全陪、领队看到此表而造成我社经历损失，由导游负责赔偿。</p>
			<p>2. 如行程外发生计划外支出请务必及时联络公司有关计调，否则费用不予报销。</p>
			<p>3. 请严格按照我公司有关地接导游带团规范进行作业，以进一步确保接待质量。</p>
		</div>
	</div>
	<input type="button" value="打印预览" onclick="printview()">&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" value="打印维护" onclick="updatePrint()">
	</body>
	<script type="text/javascript" src="/js/jquery-3.2.1.js" ></script>
	<script type="text/javascript" src="/lodop/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/lodop/LodopFuncs.js"></script>
	<script>
		$(function () {
            onloadInfo();
        });
        var dispatchId=1;
        function DateDiff(sDate1, sDate2) {
            var aDate, oDate1, oDate2, iDays;
            aDate = sDate1.split("-");
            oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
            aDate = sDate2.split("-");
            oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
            iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
            return iDays;  //返回相差天数
        } 
		function onloadInfo() {
			$.post("/dispatch/getMissionInfoByDisId","dispatchId="+dispatchId,function (data) {
			    console.log(data.data);
				$("#guideName").text(data.data.dispatch.disguide.guide.guideName+"  "+data.data.dispatch.disguide.guide.telephone);
				$("#carInfo").text(data.data.dispatch.discar.value1+" "+data.data.dispatch.discar.value2+" "+data.data.dispatch.discar.value3);
				$("#staffName").text(data.data.dispatch.staff.staffname+" "+data.data.dispatch.staff.phone);
				var ztime=data.data.dispatch.travelEndTime.substring(5,10);
				var qtime=data.data.dispatch.travelStartTime;
				var datenum=DateDiff(data.data.dispatch.travelStartTime,data.data.dispatch.travelEndTime)+1;
                var reg = new RegExp("-","g");
                ztime=ztime.replace('-','.');
                qtime=qtime.replace(reg,'.');
				$("#qztime").text(qtime+"-"+ztime);
				$("#num").text(" "+data.data.dispatch.num+"+1"+"T/L");
				$("#tourist").text(data.data.dispatch.tourist);
				$("#houses").text(Math.ceil(data.data.dispatch.num/2)+"标 + "+data.data.dispatchhotelList[1].companyBedNum+"司陪");
				var time=data.data.dispatch.travelStartTime.substring(5,10);
                time=time.replace('-','.');
				var content1="<tr>\n" +
                    "<td>日期</td>" +
                    "<td>午餐</td>" +
                    "<td>餐标，元/人</td>" +
                    "<td>晚餐</td>" +
                    "<td>餐标，元/人</td>" +
                    "<td>客人住宿，元/间天*间</td>" +
                    "<td>司陪</td>" +
                    "</tr>";
				var zcount=0;
				var wcount=0;
				var fcount=0;
				for (var i=0;i<datenum;i++){
                    content1+="<tr>" +
                        "<td>"+data.data.dispatchhotelList[i].date.substring(5,10)+"</td>" ;
                    	if(data.data.zdisrestaurantList[i]!=null && data.data.zdisrestaurantList[i]!=undefined){
                    	    content1+= "<td>"+data.data.zdisrestaurantList[i].mealType.restaurant.restaurantName+"</td>\n" +
                                "<td>"+data.data.zdisrestaurantList[i].costPrice+"*"+data.data.dispatch.num+"="+data.data.zdisrestaurantList[i].costPrice*data.data.dispatch.num+"<br />含酒水果盘</td>\n" ;
                            zcount+=data.data.zdisrestaurantList[i].costPrice*data.data.dispatch.num;
						}else{
                            content1+= "<td></td>" +
                                "<td><br /></td>" ;
						}
						if(data.data.wdisrestaurantList[i]!=null && data.data.wdisrestaurantList[i]!==undefined){
                            content1+="<td>"+data.data.wdisrestaurantList[i].mealType.restaurant.restaurantName+"<br/></td>" +
                            "<td>"+data.data.wdisrestaurantList[i].costPrice+"*"+data.data.dispatch.num+"="+data.data.wdisrestaurantList[i].costPrice*data.data.dispatch.num+"<br />含酒水果盘</td>";
                            wcount+=data.data.wdisrestaurantList[i].costPrice*data.data.dispatch.num;
						}else{
                            content1+= "<td></td>" +
                                "<td><br /></td>" ;
						}
						if(data.data.dispatchhotelList[i].payment=="签单"){
                            content1+="<td>"+Math.ceil(data.data.dispatch.num/2)+"标+"+data.data.dispatchhotelList[i].companyBedNum+"司陪<br/>"+data.data.dispatchhotelList[i].payment+"</td>\n" +
                                "<td>"+data.data.dispatchhotelList[i].companyBedNum+"床</td>\n" +
                                "</tr>";

						}else{
                            fcount+=data.data.dispatchhotelList[i].costPrice*data.data.dispatch.num;
                            content1+="<td>"+Math.ceil(data.data.dispatch.num/2)+"标+"+data.data.dispatchhotelList[i].companyBedNum+"司陪<br/>"+data.data.dispatchhotelList[i].payment+" "+data.data.dispatchhotelList[i].costPrice+"*"+data.data.dispatch.num+"="+data.data.dispatchhotelList[i].costPrice*data.data.dispatch.num+"</td>\n" +
                                "<td>"+data.data.dispatchhotelList[i].companyBedNum+"床</td>\n" +
                                "</tr>";
						}
				}
            content1+="</tr>" +
                "<tr>" +
                "<td>总计</td>" +
                "<td colspan=\"6\" style=\"background-color:  darkgrey;\">餐：现付"+(zcount+wcount)+"元，房：现付"+fcount+"元，合计：现付"+(zcount+wcount+fcount)+"</td>" +
                "</tr>";
				//设置餐宿信息
				$("#info1").html(content1);
				//循环景点集合
				var content2="";
				var jcount=0;
                for (var i=0;i<data.data.disattrList.length;i++){
					content2+="<tr>" ;
					if(data.data.disattrList[i]!=undefined&&data.data.disattrList[i]!=null){
					    content2+="<td>"+data.data.disattrList[i].scenicspot.scenicSpotName+"</td>" ;
					    if(data.data.disattrList[i].payMethods=="现付"){
                            content2+="<td>"+data.data.disattrList[i].costPrice+"*"+data.data.disattrList[i].buynum+"="+data.data.disattrList[i].costPrice*data.data.disattrList[i].buynum+"</td>";
                            jcount+=data.data.disattrList[i].costPrice*data.data.disattrList[i].buynum;
					    }else{
					        content2+="<td>签单"+data.data.disattrList[i].buynum+"全</td>";
						}
					}
                    if(data.data.disattrList[i+1]!=undefined&&data.data.disattrList[i+1]!=null){
                        content2+="<td>"+data.data.disattrList[i+1].scenicspot.scenicSpotName+"</td>" ;
                        if(data.data.disattrList[i+1].payMethods=="现付"){
                            content2+="<td>"+data.data.disattrList[i+1].costPrice+"*"+data.data.disattrList[i+1].buynum+"="+data.data.disattrList[i+1].costPrice*data.data.disattrList[i+1].buynum+"</td>";
                            jcount+=data.data.disattrList[i+1].costPrice*data.data.disattrList[i+1].buynum;
						}else{
                            content2+="<td>签单"+data.data.disattrList[i+1].buynum+"全</td>";
						}
					}else{
                        content2+="<td></td>" +
                            "<td></td>" +
                            "</tr>";
					}
                    i++;
                }
				$("#info2").html(content2);
                $("#jnum").text("现付:  "+jcount+"元");
                $("#carnunm").text("车费:  "+data.data.dispatch.fare+" 元");
                $("#wineFee").text("酒水:  "+data.data.dispatch.wineFee+"元");
                var zjnum=jcount+data.data.dispatch.fare+data.data.dispatch.wineFee+zcount+wcount+fcount;
                $("#zjnum").text("现付:  "+zjnum+"元");
                var content3="<td>导游<br/>签收</td>" +
                    "<td colspan=\"3\">1.房单（ &nbsp;&nbsp; ）&nbsp;&nbsp;2.餐单（ &nbsp;&nbsp; ）&nbsp;&nbsp;3.门票单（ &nbsp;&nbsp; ）&nbsp;&nbsp;4.返程机票或火车票（ &nbsp;&nbsp; ） &nbsp;&nbsp;5.游客意见表（ &nbsp;&nbsp; ）<br/>导游借款："+data.data.dispatch.loan+"元</td>";
                $("#jk").html(content3);
                if(data.data.disattrList.length<=8&&data.data.disattrList.length>6){
                    $("#info2").css("margin-top","-54px");
				}else if(data.data.disattrList.length<=10&&data.data.disattrList.length>8){
                    $("#info2").css("margin-top","-32px");
				}else if(data.data.disattrList.length<=12&&data.data.disattrList.length>10){
                    $("#info2").css("margin-top","-7px");
				}
            },"json");
        }
        var LODOP;//声明为全局变量
        function printview(){
            createPage();
            LODOP.PREVIEW(); //打印预览
        }
        function updatePrint(){
            createPage();
            LODOP.PRINT_SETUP();//打印维护
        }
        function print(){
            createPage();
            LODOP.PRINT_DESIGN();//直接打印
        }

        function createPage(){
            LODOP=getLodop();  //获取打印对象
            //var style="<style>"+document.getElementById("style").innerHTML+"</style>";
            var html="<body>"+document.getElementById("dy").innerHTML+"</body>";
            LODOP.SET_PRINT_STYLE("Bold",1); //字体加粗
            LODOP.ADD_PRINT_HTM(20,50,640,890,html); //打印HTML
        }
	</script>
</html>
