<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
        * {
            margin: 0 auto;
        }

        #tableone tr td {
            border: 1px solid #000000;
        }

        #tabletwo tr td {
            border: 1px solid #000000;
        }
    </style>
</head>

<body>
<div id="dy">
    <div id="tupian" style="width: 800px;margin-left: 537px; margin:auto;">
        <img src="/images/logo.jpg" width="640px" height="50px">
    </div>
    <div style="text-align: center;">
        <input type="hidden" id="reportDetailId" th:value="${reportDetailId}">

        <h2>STS-RJ-20180415JD团结算账单</h2>
        <div style="border: 1px solid black;width:800px">
            <table id="tabletwo" width="800px" height="50px" cellpadding="0" cellspacing="0">
                <tr style="">
                    <td>收件单位及收件人</td>
                    <td width="200px"><span id="shoujianrenjishoujiandanwei"></span></td>
                    <td>发件单位及收件人</td>
                    <td width="200px"><span id="fanjianrenjifajiandanwei"></span></td>
                </tr>
                <tr>
                    <td>紧急联络</td>
                    <td><span id="shoujianrendianhua"></span></td>
                    <td>紧急联络</td>
                    <td><span id="fajianrendianhua"></span></td>
                </tr>
            </table>
            <table id="tableone1" width="800px" height="50px" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="text-align: left"><h3></h3></td>
                </tr>
            </table>
            <table id="tableone" width="800px" height="600px" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" style="text-align: left; width: 160px; ">客源地：<span id="keyuandi"></span></td>
                    <td colspan="2" style="text-align: left; ">旅行人数：<span id="lvxingrenshu"></span></td>

                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">接团社团号：<span id="dijieshetuanhao"></span><br/>组团社团号：<span
                            id="zutuanshetuanhao"></span></td>
                    <td colspan="2" style="text-align: left;">用房：<span id="yongfang"></span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">费用内容<br>ITEMS</td>
                    <td style="text-align: left;">类别<br>CURRENCY</td>
                    <td style="text-align: left;">金额<br>AMOUNT</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">综费:<br>成人:<span id="zongfeiqian"></span></td>
                    <td style="text-align: left;">人民币</td>
                    <td style="text-align: left;"><span id="zongfeizongjia"></span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">其他增加费用：<span id="qitafeiyong">0</span></td>
                    <td style="text-align: left;">人民币</td>
                    <td style="text-align: left;"><span id="qitafeiyongzongji">0</span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">其他核减费用：0</td>
                    <td style="text-align: left;">人民币</td>
                    <td style="text-align: left;">0</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">费用共计</td>
                    <td style="text-align: left;">人民币</td>
                    <td style="text-align: left;"><span id="feiyongzongji"></span></td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: left;">以上费用不含司机小费，请现付导游司机，谢谢。</td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: left;">备注:请在团抵达前将团款汇至一下账户，感谢支持，预祝合作愉快！</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left;">账户名：<span id="gongsizhanghuming"></span><br/>账号:<span
                            id="gongsizhanghao"></span><br>开户行：<span id="gongsikaihuhang"></span></td>
                    <td colspan="2" style="text-align: left;">户名：<span id="gerenhuming"></span><br/>卡号:<span
                            id="gerenkahao"></span><br>开户行:<span id="gerenkaihuhang"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <table width="800px" height="50px">
        <tr>
            <td colspan="2" style="text-align: left;">组团社盖章：</td>
            <td colspan="2" style="text-align: left;">地接社盖章：</td>
        </tr>
    </table>
</div>
<input type="button" value="打印预览" onclick="printview()">&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="打印维护" onclick="updatePrint()">
</body>
<script type="text/javascript" src="/lodop/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/lodop/LodopFuncs.js"></script>

<script>

    $(function () {
        getReportdetailById();
        selectReportdetailById();
    });

    /**
     * 为各个模块绑定信息(lixiaojie)
     */
    function selectReportdetailById() {
        var reportDetailId = $("#reportDetailId").val();
        $.ajax({
            url: "/reportdetail/selectReportdetailById",
            data: {
                "reportDetailId": reportDetailId
            },
            dataType: "json",
            type: "post",
            async: false,
            success: function (ReponseResult) {
                var reportaccommodationList = "";
                var zhusuheji = 0 * 1;//住宿合计
                var zhusudaoyoufu = 0 * 1;
                var zhusuqiandanheji = 0 * 1;
                $.each(ReponseResult.data.reportaccommodationList, function (i, e) {
                    var subtotal = 0 * 1;
                    subtotal = e.housePrice * e.roomNum + e.accompanyingBed * e.accompanyingPrice;

                    zhusuheji += subtotal;//计算住宿合计

                });

                //餐厅
                var reportrestaurantList = "";
                var yongcanheji = 0 * 1;
                var yongcandaoyoufu = 0 * 1;
                var yongcanqiandanheji = 0 * 1;
                $.each(ReponseResult.data.reportrestaurantList, function (i, e) {
                    var wuheji = 0 * 1;
                    var wanheji = 0 * 1;
                    var wucanxiaoji = e.lunchMeal * e.lunchEatNum;
                    var wancanxiaoji = e.dinnerMeal * e.dinnerEatNum;
                    yongcanheji += wucanxiaoji + wancanxiaoji;
                })

                //门票
                var reportticketList = "";
                var menpiaoheji = 0 * 1;
                var menpiaodaoyoufu = 0 * 1;
                var menpiaoqiandanheji = 0 * 1;
                $.each(ReponseResult.data.reportticketList, function (i, e) {
                    var menpiaoxiaoji = e.price * e.nums;
                    menpiaoheji += menpiaoxiaoji;
                });

                $("#zongfeiqian").text(yongcanheji+menpiaoheji+zhusuheji);
                  $("#zongfeizongjia").text(yongcanheji+menpiaoheji+zhusuheji);
                   $("#feiyongzongji").text(yongcanheji+menpiaoheji+zhusuheji);

            },
            error: function (res) {
                alert(res);
            }
        })
    }


    function getReportdetailById() {
        var reportDetailId = $("#reportDetailId").val();
        $.ajax({
            url: "/reportdetail/getReportdetailById",
            data: {
                "reportDetailId": reportDetailId
            },
            dataType: "json",
            type: "post",
            async: false,
            success: function (e) {

                $("#shoujianrenjishoujiandanwei").text(e.data.travel.travelName + "\t" + e.data.travel.personName + "\t" + e.data.travel.personPost);
                $("#fanjianrenjifajiandanwei").text(e.data.company.companyName + "\t" + e.data.staff.staffname);
                $("#shoujianrendianhua").text(e.data.travel.phone);
                $("#fajianrendianhua").text(e.data.company.companyPhone);
                $("#keyuandi").text(e.data.dispatch.tourist);
                $("#lvxingrenshu").text(e.data.dispatch.num);
                $("#dijieshetuanhao").text(e.data.dispatch.groundConnectionNumber);
                $("#zutuanshetuanhao").text(e.data.dispatch.groupNumber);
                $("#yongfang").text(Math.ceil(e.data.dispatch.num / 2));

                $("#zongfeiqian").text(e.data.reportdetail.totalPayable);
             /*   $("#zongfeizongjia").text(e.data.reportdetail.totalPayable);
                $("#feiyongzongji").text(e.data.reportdetail.totalPayable);*/
                //公司账户信息
                $("#gongsizhanghuming").text(e.data.companyAccount.accountName);
                $("#gongsizhanghao").text(e.data.companyAccount.accountNum);
                $("#gongsikaihuhang").text(e.data.companyAccount.bank);


                //个人账户信息
                $("#gerenhuming").text(e.data.personalAccount.accountName);
                $("#gerenkahao").text(e.data.personalAccount.accountNum);
                $("#gerenkaihuhang").text(e.data.personalAccount.bank);
            }
        });
    }


</script>

<script>
    var LODOP;//声明为全局变量
    function printview() {
        createPage();
        LODOP.PREVIEW(); //打印预览
    }

    function updatePrint() {
        createPage();
        LODOP.PRINT_SETUP();//打印维护
    }

    function print() {
        createPage();
        LODOP.PRINT_DESIGN();//直接打印
    }

    function createPage() {
        LODOP = getLodop();  //获取打印对象
        //var style="<style>"+document.getElementById("style").innerHTML+"</style>";
        var html = "<body>" + document.getElementById("dy").innerHTML + "</body>";
        LODOP.SET_PRINT_STYLE("Bold", 1); //字体加粗
        LODOP.ADD_PRINT_HTM(20, 50, 640, 890, html); //打印HTML
    }
</script>
</html>