<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
	</head>
	<body>
		<div class="wrap-container" style="height: 320px">
			<form id="CarrentalInfo"  class="layui-form" style="width: 90%;padding-top: 20px;">
				<input type="hidden" name="hiddenCarrentalId" id="hiddenCarrentalId" th:value="${carrentalId}">
				<div class="layui-form-item">
					<label style="width: 120px" class="layui-form-label">车辆公司名称：</label>
					<div class="layui-input-block">
						<input  style="width: 550px" type="text" name="carRentalName"  placeholder="请输入车辆公司名称"
								autocomplete="off" class="layui-input">
					</div>
				</div>



				<div class="layui-form-item">
					<label style="width: 120px"  class="layui-form-label">车辆公司地址：</label>
					<div class="layui-input-block">
						<input type="text" style="width: 550px"  name="companyAddress"  placeholder="请输入车辆公司地址"
							   autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label style="width: 120px"  class="layui-form-label">车辆公司联系人：</label>
					<div class="layui-input-block">
						<input type="text" style="width: 550px"  name="contacts"  placeholder="请输入车辆公司联系人"
							   autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label style="width: 120px"  class="layui-form-label">联系人电话：</label>
					<div class="layui-input-block">
						<input type="text" style="width: 550px"  name="phone"  placeholder="请输入联系人电话"
							   autocomplete="off" class="layui-input">
					</div>
				</div>


					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="updateCarrentalInfo()">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
		</div>

		<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery-1.8.3.min.js"></script>
		<script>


			$(function () {
                getCarrentalInfoByCarrentalId(); //页面加载绑定数据 (lixiaojie)
            });


			/*修改用户信息  (lixiaojie)*/
			function updateCarrentalInfo() {

                var CarrentalInfo = $("#CarrentalInfo").serialize();

                var hiddenCarrentalId=$("#hiddenCarrentalId").val();
                CarrentalInfo=CarrentalInfo+"&carRentalId="+hiddenCarrentalId
				alert(CarrentalInfo);
                $.ajax({
                    url: "/carrental/updateCarrentalInfo",
                    data: CarrentalInfo
					,
                    dataType: "json",
                    type: "post",
                    success: function (ReponseResult) {
                        if (ReponseResult.data==0||ReponseResult.data=='0') {
                            alert("修改失败")
                        }
                        if (ReponseResult.data==1||ReponseResult.data=='1') {
                            alert("修改成功")
                        }
                        parent.location.reload();
                    },
                    error: function (res) {
                        /*  alert(res);*/
                    }
                })
            }
            //根据用户id查询用户信息  (lixiaojie)
            function getCarrentalInfoByCarrentalId() {
                var hiddenCarrentalId=$("#hiddenCarrentalId").val();
                $.ajax({
                    url: "/carrental/getCarrentalInfoByCarrentalId",
                    data: {
                        "carrentalId":hiddenCarrentalId

					},
                    dataType: "json",
                    type: "post",
                    success: function (ReponseResult) {

                        $("input[name='carRentalName']").val(ReponseResult.data.carRentalName);


                        $("input[name='companyAddress']").val(ReponseResult.data.companyAddress);
                        $("input[name='contacts']").val(ReponseResult.data.contacts);
                        $("input[name='currentAddress']").val(ReponseResult.data.currentAddress);
                        $("input[name='phone']").val(ReponseResult.data.phone);

                    },
                    error: function (res) {
                        /*  alert(res);*/
                    }
                })
            }

			//根据用户id查询用户信息 (lixiaojie)
			function getShoppingInfoByShoppingId() {
                var hiddenShoppingId=$("#hiddenShoppingId").val();
                $.ajax({
                    url: "/shopping/getShoppingInfoByShoppingId",
                    data: {"shoppingId":hiddenShoppingId},
                    dataType: "json",
                    type: "post",
                    success: function (ReponseResult) {
                        $("input[name='shoppingSite']").val(ReponseResult.data.shoppingSite);
                        $("#scenicSpotId").val(ReponseResult.data.scenicSpotId);
						/*
                        $("input[name='password']").val(ReponseResult.data.password);
                        $("input[name='sex'][value='"+ReponseResult.data.sex+"']").attr("checked",true);

                        $("input[name='cardId']").val(ReponseResult.data.cardId);
                        $("input[name='qqnumber']").val(ReponseResult.data.qqnumber);
                        $("input[name='currentAddress']").val(ReponseResult.data.currentAddress);
                        $("input[name='phone']").val(ReponseResult.data.phone);*/

                    },
                    error: function (res) {
                        /*  alert(res);*/
                    }
                })
            }
			


		</script>
		<script>
			//Demo
			layui.use(['form'], function() {
				var form = layui.form();
				form.render();
				//监听提交
				form.on('submit(formDemo)', function(data) {

					return false;
				});
			});
		</script>
	</body>

</html>