<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>
	</head>
	<body>
	<form class="layui-form column-content-detail">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">酒店信息</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="layui-form-item">
									<label class="layui-form-label">名称：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.hotelName:''}" type="text" name="hotelName" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">星级：</label>
									<div class="layui-input-block">
										<select name="starHotel">
											<option th:selected="${pan==0}">请选择星级</option>
											<option value="1" th:selected="${ht!=null and ht.starHotel==1}" >★</option>
											<option value="2" th:selected="${ht!=null and ht.starHotel==2}" >★★</option>
											<option value="3" th:selected="${ht!=null and ht.starHotel==3}" >★★★</option>
											<option value="4" th:selected="${ht!=null and ht.starHotel==4}" >★★★★</option>
											<option value="5" th:selected="${ht!=null and ht.starHotel==5}" >★★★★★</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">地址：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.hotelAddress:''}" name="hotelAddress" type="text" required lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">图片地址：</label>
									<div class="layui-input-block">
										<input onchange="FirstImg()" style="opacity:0;position:absolute" type="file" id="FirstfileImg" multiple="">
										<div>
											<span> 点击这里上传图片</span>
										</div>
										<fieldset style="width:500px;">
											<legend>图片预览</legend>
											<div style="position: relative;" id="ccc">
											</div>
										</fieldset>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">是否提供早餐：</label>
									<div class="layui-input-block">
										<input type="radio" name="breakfast" value="1" title="是" th:checked="${pan!=0 and ht.breakfast==1}"/>
										<input type="radio" name="breakfast" value="0" title="否" th:checked="${pan!=0 and ht.breakfast==0}"/>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">联系人：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.contacts:''}" type="text" name="contacts" required lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">联系电话：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.phone:''}" type="text" name="phone" required lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">成本价：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.costprice:''}" type="text" name="costprice" required lay-verify="required" placeholder="请输入成本价" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">报价：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.offer:''}" type="text" name="offer" required lay-verify="required" placeholder="请输入报价" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">备注：</label>
									<div class="layui-input-block">
										<input th:value="${pan!=0?ht.remarks:''}" type="text" name="remarks" required lay-verify="required" placeholder="请输入备注" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">酒店描述：</label>
									<div class="layui-input-block">
										<textarea th:text="${pan!=0?ht.hotelDescribe:''}" name="hotelDescribe" placeholder="请输入酒店描述"></textarea>
									</div>
								</div>
								<div>
									<input type="hidden" name="hotelId" id="hotelId" th:value="${hotelId}">
								</div>
								<div>
									<input type="hidden" id="imgsrc" th:value="${pan!=0?ht.picturePath:''}">
								</div>
								<div>
									<input type="hidden" id="imgCheng" value="">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button type="button"  th:value="${pan!=0?1:0}" class="layui-btn layui-btn-normal" id="inser">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
	<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
	<script>
        if($("#hotelId").val()!='0'){
            var imgsrc=$("#imgsrc").val();
            var img="<img name=\"picturePath\" id=\"fileImg\" src=\""+imgsrc+"\" width=\"150\">"
            $("#ccc").html(img);
        }
        $("#inser").click(function () {
            if($(this).val()!=0){
                var formData;
                // 将表单序列化，，返回的数据格式不是Json格式
                var form=$("form").serialize();
                // 创建序列化格式转变为json格式的规则
                var DataDeal = {
                    formToJson: function (data) {
                        data=data.replace(/&/g,"\",\"");
                        data=data.replace(/=/g,"\":\"");
                        data="{\""+data+"\"}";
                        return data;
                    }
                };
                form= decodeURIComponent(form,true);//防止中文乱码
                // 将序列化格式的数据按照上面的规则转换为json格式
                var jsondata=DataDeal.formToJson(form);//转化为json
                var savePath = "D://upload-images-test";
                var fileObj = document.getElementById("FirstfileImg").files[0];
                if($("#imgCheng").val()!="1"){
                    var file=new File(["first Line Text","Second Line Text"],"a.txt");
                    fileObj=file;
                }
                var formData=new FormData();
                formData.append("savePath",savePath);
                formData.append("form",jsondata);
                formData.append("fileObj",fileObj);
                $.ajax({
                    url:"/hotel/updateHotel",
                    data:formData,
                    dataType:"json",
                    type:"post",
                    cache: false, // 上传文件不需要缓存
                    processData: false, // 对参数进行序列化处理
                    contentType: false,
                    success:function (data) {
                        alert(data.msg)
                        parent.location.reload()
                    },error(){
                        alert("服务器异常")
                    }
                })
            }else {
                // 将表单序列化，，返回的数据格式不是Json格式
                var form=$("form").serialize();
                // 创建序列化格式转变为json格式的规则
                var DataDeal = {
                    formToJson: function (data) {
                        data=data.replace(/&/g,"\",\"");
                        data=data.replace(/=/g,"\":\"");
                        data="{\""+data+"\"}";
                        return data;
                    }
                };
                form= decodeURIComponent(form,true);//防止中文乱码
                // 将序列化格式的数据按照上面的规则转换为json格式
                var jsondata=DataDeal.formToJson(form);//转化为json
                var savePath = "D://upload-images-test";
                var fileObj = document.getElementById("FirstfileImg").files[0];
                var formData=new FormData();
                formData.append("savePath",savePath);
                formData.append("form",jsondata);
                formData.append("fileObj",fileObj);
                $.ajax({
                    url:"/hotel/insertHotel",
                    data:formData,
                    dataType:"json",
                    type:"post",
                    cache: false, // 上传文件不需要缓存
                    processData: false, // 对参数进行序列化处理
                    contentType: false,
                    success:function (data) {
                        alert(data.msg)
                        parent.location.reload()
                    },error(){
                        alert(123)
					}
                })
            }
        })
	</script>
	<script>
        jQuery.DuoImgsYulan = function(file, id) {
            for (var i = 0; i < 1; i++) {
                if (!/image\/\w+/.test(file[i].type)) {
                    alert("请选择图片文件");
                    return false;
                }
                if (file[i].size > 2048 * 1024) {
                    alert("图片不能大于2MB");
                    continue;
                }
                var img;
                console.log(document.getElementById("fileImg"));
                console.log(file[i]);
                console.log("file-size=" + file[i].size);
                var reader = new FileReader();
                reader.onloadstart = function(e) {
                    console.log("开始读取....");
                }
                reader.onprogress = function(e) {
                    console.log("正在读取中....");
                }
                reader.onabort = function(e) {
                    console.log("中断读取....");
                }
                reader.onerror = function(e) {
                    console.log("读取异常....");
                }
                reader.onload = function(e) {
                    console.log("成功读取....");
                    var div = document.createElement("div"); //外层 div
                    div.setAttribute("style", "position:relative;width:inherit;height:inherit;float:left;z-index:2;width:150px;margin-left:8px;margin-right:8px;");
                    var del = document.createElement("div"); //删除按钮div
                    del.setAttribute("style", "position: absolute; bottom: 4px; right: 0px; z-index: 99; width: 30px; height:30px;border-radius:50%;")
                    var delicon = document.createElement("img");
                    delicon.setAttribute("src", "/images/upfile.png");
                    delicon.setAttribute("title", "删除");
                    delicon.setAttribute("style", "cursor:pointer;width: 30px; height:30px");
                    del.onclick = function() {
                        this.parentNode.parentNode.removeChild(this.parentElement);
                        ClearfirtsImg();
                    };
                    del.appendChild(delicon);
                    div.appendChild(del);
                    var imgs = document.createElement("img"); //上传的图片
                    imgs.setAttribute("name", "picturePath");
                    imgs.setAttribute("id", "fileImg");
                    imgs.setAttribute("src", e.target.result);
                    imgs.setAttribute("width", 150);
                    if (document.getElementById(id).childNodes.length > 2) {
                        document.getElementById(id).removeChild(document.getElementById(id).firstChild);
                    }
                    div.appendChild(imgs)
                    document.getElementById(id).appendChild(div);
                }
                reader.readAsDataURL(file[i]);
            }
        }

        function FirstImg() {
            $("#ccc").html("");
            $("#imgCheng").val(0);
            $("#imgCheng").val(1);
            $.DuoImgsYulan(document.getElementById("FirstfileImg").files, "ccc");
        }

        function ClearfirtsImg() {
            var file = $("#FirstfileImg")
            file.after(file.clone().val(""));
            file.remove();
        }
	</script>
	<script>
		layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'common', 'tool', 'element', 'upload', 'layedit'], function() {
				var form = layui.form(),
					layer = layui.layer,
					$ = layui.jquery,
					laypage = layui.laypage,
					laydate = layui.laydate,
					layedit = layui.layedit,
					common = layui.common,
					tool = layui.tool,
					element = layui.element(),
					dialog = layui.dialog;

				//获取当前iframe的name值
				var iframeObj = $(window.frameElement).attr('name');
				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor', {
					tool: ['strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'link' //超链接
						, 'unlink' //清除链接
						, 'image' //插入图片
					],
					height: 100
				})
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});
				form.render();

				layui.upload({
					url: '上传接口url',
					success: function(res) {
						console.log(res); //上传成功返回值，必须为json格式
					}
				});
			});
	</script>
	</body>
</html>