<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
	</head>

	<body>
		<div class="page-content-wrap">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-inline tool-btn">
								<input style="font-size: 20px" type="button" class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs" id="insert" value="+"></input>
								<button class="layui-btn layui-btn-small layui-btn-danger delBtn"  data-url="article-add.html"><i class="layui-icon">&#xe640;</i></button>
							</div>
							<div class="layui-inline">
								<input type="text" id="one" name="title" placeholder="请输入酒店名称" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<input type="text" id="two" name="title" placeholder="请输入酒店地址" autocomplete="off" class="layui-input">
							</div>
							价格区间：
							<div class="layui-inline">
								<input size="3" type="text" id="three" name="title"  placeholder="最低价" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<input size="3" type="text" id="four" name="title"  placeholder="最高价" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-inline">
								<select name="states" lay-filter="status" id="five">
									<option value="">请选择一个状态</option>
									<option value="010">禁用</option>
									<option value="021">正常</option>
								</select>
							</div>
							<input class="layui-btn layui-btn-normal" id="search" type="button" lay-submit="search" value="搜索"/>
						</div>
					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-skin="line">
							<colgroup>
								<col width="50">
								<col class="hidden-xs" width="100">
								<col class="hidden-xs" width="100">
								<col class="hidden-xs" width="100">
								<col class="hidden-xs" width="120">
								<col width="150">
								<col width="130">
								<col width="130">
								<col width="80">
								<col width="130">
							</colgroup>
							<thead>
								<tr>
									<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
									<th class="">酒店编号</th>
									<th class="">名称</th>
									<th class="">星级</th>
									<th class="">地址</th>
									<th class="">是否提供早餐</th>
									<th class="">联系电话</th>
									<th class="">报价</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<div id="laypage" style="text-align: center;"></div>
					</div>
		</div>
		<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
		<script src="/layui.js" type="text/javascript"></script>
		<script>
            var limitcount = 2; // 每页总记录数
            var curnum = 1;  // 当前页码
            var hotelName="";
            var hotelAddress="";
            var offer="";
            var offer2="";
            var status="";
            //添加酒店房间按钮
            $(document).on("click","#insert2",function () {
                var id=$(this).val();
                layer.open({
                    type: 2,
                    title: '添加酒店房间',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: 'hotelroom-add.html?pan=0&hotelId='+id+'&typeId=0'
                });
            })
            //修改酒店房间按钮
            $(document).on("click","#update2",function () {
                var id=$(this).val();
                layer.open({
                    type: 2,
                    title: '修改酒店房间',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: 'hotelroom-add.html?pan=1&hotelId=0&typeId='+id+''
                });
            })
            //删除酒店房间按钮
            $(document).on("click","#delete2",function () {
                var id=$(this).val();
                $.ajax({
                    url:"/hotel/deleteHotelRoom?id="+id+"",
                    data:"",
                    dataType:"json",
                    type:"get",
                    success:function (data) {
                        alert(data.msg);
                        search();
					},error:function () {
						alert("程序错误")
                    }
                })

            })

            //添加酒店按钮
            $(document).on("click","#insert",function () {
                layer.open({
                    type: 2,
                    title: '添加酒店',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: 'hotel-add.html?pan=0&hotelId=0'
                });
            })
            //修改酒店按钮
            $(document).on("click","#update",function () {
                var id=$(this).val();
                layer.open({
                    type: 2,
                    title: '修改酒店',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: 'hotel-add.html?pan=1&hotelId='+id+''
                });
            })
            //删除酒店按钮
            $(document).on("click","#delete",function () {
                var id=$(this).val();
                $.ajax({
                    url:"/hotel/deleteHotelRoom?id="+id+"",
                    data:"",
                    dataType:"json",
                    type:"get",
                    success:function (data) {
                        alert(data.msg);
                        search();
                    },error:function () {
                        alert("程序错误")
                    }
                })

            })


            search();
			//搜索（dubingkun）
                $("#search").click(function () {
                    hotelName=$("#one").val();
                    hotelAddress=$("#two").val();
                    offer=$("#three").val();
                    offer2=$("#four").val();
                    status=$("#five").val();
					search();
                    }
				);
            //查询（dubingkun）
                function search() {
                    $.ajax({
                        url:"/hotel/showAllHotels",
                        data:{pageNo:curnum,pageSize:2,hotelName:hotelName,hotelAddress:hotelAddress,offer:offer,offer2:offer2,status:status},
                        dataType:"json",
                        type:"get",
                        success:function (data) {
                            var count=0;
                            var count2=0;
                            var context2="";
                            $.each(data.data,function (i,e) {
                                count++;
                                count2++;
                                var fuqinid="node-"+count;
                                var erziclass="child-node-"+count2+" parent collapsed";
                                context2+="<tr id='"+fuqinid+"' class=\"parent collapsed\">\n" +
                                    "\t\t\t\t\t\t\t\t<td><input type=\"checkbox\" name=\"\" lay-skin=\"primary\" data-id=\""+count2+"\">\n" +
                                    "\t\t\t\t\t\t\t\t\t<a class=\"layui-btn layui-btn-mini layui-btn-normal showSubBtn\" data-id='"+count2+"'>+</a></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.hotelId+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.hotelName+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.starHotel+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.hotelAddress+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.breakfast+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.phone+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"\">"+e.offer+"</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td><button class=\"layui-btn layui-btn-mini layui-btn-normal table-list-status\">禁用 </button></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td>\n" +
                                    "\t\t\t\t\t\t\t\t\t<div class=\"layui-inline\">\n" +
                                    "\t\t\t\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"insert2\" value=\""+e.hotelId+"\"><i class=\"layui-icon\">&#xe654;</i></button>\n" +
                                    "\t\t\t\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"update\" value=\""+e.hotelId+"\" ><i class=\"layui-icon\">&#xe642;</i></button>\n" +
                                    "\t\t\t\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-mini layui-btn-danger\" id=\"delete\" value=\""+e.hotelId+"\"><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                                    "\t\t\t\t\t\t\t\t\t</div>\n" +
                                    "\t\t\t\t\t\t\t\t</td>\n" +
                                    "\t\t\t\t\t\t\t</tr>";

                                if(e.roomTypeList.length>0){
                                    count++;
                                    context2+="<tr id='"+fuqinid+"' class=\""+erziclass+"\" style=\"display:none ;background-color: #D6E9C6;\" parentid=\"1\">\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\">房间类型名称</td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\">房间报价</td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                        "\t\t\t\t\t\t\t\t<td class=\"\">操作</td>\n" +
                                        "\t\t\t\t\t\t\t</tr>";
                                    $.each(e.roomTypeList,function (j,p) {
                                        count++;
                                        context2+="<tr id='"+fuqinid+"' class=\""+erziclass+"\" style=\"display:none ;\" parentid=\"1\">\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\">"+p.typeName+"</td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\">"+p.offer+"</td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                                            "\t\t\t\t\t\t\t\t<td>\n" +
                                            "\t\t\t\t\t\t\t\t\t<div class=\"layui-inline\">\n" +
                                            "\t\t\t\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"update2\" value=\""+p.typeId+"\"><i class=\"layui-icon\">&#xe642;</i></button>\n" +
                                            "\t\t\t\t\t\t\t\t\t\t<button class=\"layui-btn layui-btn-mini layui-btn-danger\" id=\"delete2\" value=\""+p.typeId+"\"><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                                            "\t\t\t\t\t\t\t\t\t</div>\n" +
                                            "\t\t\t\t\t\t\t\t</td>\n" +
                                            "\t\t\t\t\t\t\t</tr>";
                                    })
                                }
                                $("tbody").html(context2);
                                // 分页插件
                                layui.use('table', function () {
                                    var laypage = layui.laypage;
                                    laypage.render({
                                        elem: 'laypage'
                                        , count: data.count
                                        , curr: curnum
                                        , limit: 6
                                        , layout: ['prev', 'page', 'next', 'skip', 'count']
                                        , jump: function (obj, first) {
                                            if (!first) {
                                                //obj包含了当前分页的所有参数，比如：
                                                curnum = obj.curr; // 当前页面
                                                limitcount = obj.limit; // 每页记录数
                                                // 查询新数据
                                                search();
                                            }
                                        }
                                    })
                                })
                            })
                        },error:function () {
                            alert(123)
                        }
                    })
                    //$("tbody").html(fuqin);
                };
			//修改赋值（dubingkun）
			function updInfo() {
				
            }
		</script>
		<script>
			layui.use(['jquery'], function() {
				var $=layui.jquery;
				//修改状态
				$('#table-list').on('click', '.table-list-status', function() {
					var That = $(this);
					var status = That.attr('data-status');
					var id = That.parent().attr('data-id');
					if(status == 1) {
						That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
					} else if(status == 2) {
						That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

					}
				})
				//栏目展示隐藏
				$(document).on('click','.showSubBtn', function() {
					var _this = $(this);
					var id = _this.attr('data-id');
					var parent = _this.parents('.parent');
					var child = $('.child-node-' + id);
					var childAll = $('tr[parentid=' + id + ']');
					if(parent.hasClass('collapsed')) {
						_this.html('-');
						parent.addClass('expanded').removeClass('collapsed');
						child.css('display', '');
					} else {
						_this.html('+');
						parent.addClass('collapsed').removeClass('expanded');
						child.css('display', 'none');
						childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
						childAll.find('.showSubBtn').html('+');
					}
				})
			});
		</script>
	</body>

</html>