<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/baojiadan.css"/>
    <style>
        select {
            width: 140px;
            height: 36px;
        }

        textarea {
            margin-top: 5px;
        }
    </style>
</head>
<body>

<!-- 资源管理 start -->
<div style="display: none">
    <input type="hidden" th:value="${offerId}" id="offerId" />
    <!-- 线路列表 -->
    <select name="templates" id="templates" lay-ignore>
        <option th:each="template:${templates}" th:value="${template.templateId}"
                th:text="${template.templateName}" th:attr="data-text=${template.templateName}"></option>
    </select>

    <!-- 酒店列表 -->
    <select name="hotels" id="hotels" lay-ignore onchange="listenerSelectChange(this)">
        <option value="0">无需提供</option>
        <option th:each="hotel:${hotels}" th:value="${hotel.hotelId}" th:text="${hotel.hotelName}"></option>
    </select>

    <!-- 房间类型列表 -->
    <select name="therooms" id="therooms" lay-ignore onchange="listenerSelectChange(this)">
        <option value="0">请选择房间类型</option>
        <option value="0">无需提供</option>
        <!-- <option th:each="theroom:${therooms}" th:value="${theroom.valueId}" th:text="${theroom.valueContent1}"></option>-->
    </select>

    <!-- 景点列表 -->
    <select name="scenicspots" id="scenicspots" lay-ignore onchange="listenerSelectChange(this)">
        <option value="0">无需提供</option>
        <option th:each="scenicspot:${scenicspots}" th:value="${scenicspot.scenicSpotId}"
                th:text="${scenicspot.scenicSpotName}"></option>
    </select>

    <!-- 购物地点列表 -->
    <select name="shoppings" id="shoppings" lay-ignore style="width: 285px; height: 38px;">
        <option value="0">请选择购物地点</option>
        <option value="0">无需提供</option>
        <option th:each="shopping:${shoppings}" th:value="${shopping.shoppingId}"
                th:text="${shopping.shoppingSite}"></option>
    </select>

    <!-- 餐馆列表 -->
    <select name="restaurants" id="restaurants" lay-ignore onchange="listenerSelectChange(this)">
        <option value="0">请选择餐馆</option>
        <option value="0">无需提供</option>
        <option th:each="restaurant:${restaurants}" th:value="${restaurant.restaurantId}"
                th:text="${restaurant.restaurantName}"></option>
    </select>

    <!-- 饮食类型列表 -->
    <select name="diets" id="diets" lay-ignore onchange="listenerSelectChange(this)">
        <option value="0">无需提供</option>
        <option th:each="diet:${diets}" th:value="${diet.valueId}" th:text="${diet.valueContent1}"></option>
    </select>

    <!-- 导游列表 -->
    <select name="guides" id="guides" lay-ignore>
        <option th:each="guide:${guides}" th:value="${guide.guideId}" th:text="${guide.guideName}"></option>
    </select>

    <!-- 汽车租赁公司列表 -->
    <select name="carrentals" id="carrentals" lay-ignore style="width:140px" onchange="listenerSelectChange(this)">
        <option value="0">请选择车辆公司</option>
        <option th:each="carrental:${carrentals}" th:value="${carrental.carRentalId}"
                th:text="${carrental.carRentalName}"></option>
    </select>

    <!-- 车辆类型列表 -->
    <select name="vehicles" id="vehicles" lay-ignore onchange="listenerSelectChange(this)">
        <option th:each="vehicle:${vehicles}" th:value="${vehicle.valueId}" th:text="${vehicle.valueContent1}"></option>
    </select>
</div>
<!-- 资源管理 end -->


<div class="page-content-wrap">
    <div id="divhead">
        <form class="layui-form layui-form-pane" action="">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 135px"><label class="layui-form-label" style="width:135px">组团社名称</label></td>
                    <td>
                        <input type="text" class="layui-input" id="travelName"/>
                    </td>
                    <td><label class="layui-form-label" style="width: 135px">人数</label></td>
                    <td><input type="text" class="layui-input" id="peopleNumber"></td>
                    <td><label class="layui-form-label" style="width:135px">抵达航班/车次号</label></td>
                    <td><input type="text" name="date" class="layui-input" id="carNum"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label" style="width:135px">接团时间</label></td>
                    <td><input type="text" name="date" id="beginDate" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input"></td>
                    <td><label class="layui-form-label" style="width: 135px">接团地点</label></td>
                    <td><input type="text" name="date" class="layui-input" id="beginAddress"></td>
                    <td><label class="layui-form-label" style="width: 135px">送团地点</label></td>
                    <td><input type="text" name="date" class="layui-input" id="endAddress"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label" style="width:135px">送团时间</label></td>
                    <td><input type="text" name="date" id="endDate" lay-verify="date" placeholder="yyyy-MM-dd"
                               autocomplete="off" class="layui-input"></td>
                    <td><label class="layui-form-label" style="width:135px">团队联系人</label></td>
                    <td><input type="text" name="date" class="layui-input" id="concat"></td>
                    <td><label class="layui-form-label" style="width: 135px">联系电话</label></td>
                    <td><input type="text" name="date" class="layui-input" id="concatPhone"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="zong">
        <!--<button class='layui-btn layui-btn-normal layui-btn-radius' onclick='addss()' id="add"-->
                  <!--style="width:50px;margin-left: 1000px;">十
          <!--</button>-->
        <!---中结束-->
    </div>
    <div id="divfoot">
        <form class="layui-form layui-form-pane" action="">
            <table border="0	" cellspacing="0" cellpadding="0" style="width: 1100px">
                <tr>
                    <td><label class="layui-form-label">导游：</label></td>
                    <td id="guideContext">
                    </td>
                    <td><label class="layui-form-label" style="width: 140px">借款：</label></td>
                    <td><input type="text" class="layui-input" id="loan"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">车队：</label></td>
                    <td id="carrentalsContext" style="width:140px">
                    </td>
                    <td id="vehiclesContext" style="width: 140px">
                    </td>
                    <td><label class="layui-form-label" style="width: 140px">数量:</label></td>
                    <td><input type="text" class="layui-input"></td>

                    <td><label class="layui-form-label" style="width: 119px">成本价：</label></td>
                    <td width="140px"><input type="text" class="layui-input"></td>
                    <td><label class='layui-form-label'>报价:</label></td>
                    <td><input type='text' name='offer' class='layui-input'></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">车费：</label></td>
                    <td width="140px"><input type="text" id="fare" style="width: 140px" class="layui-input"></td>
                    <td width="140px"><label class="layui-form-label" style="width: 140px">报停费：</label></td>
                    <td><input type="text" class="layui-input"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">酒水：</label></td>
                    <td width="140px"><input type="text" class="layui-input" style="width: 140px"></td>
                    <td width="140px"><label class="layui-form-label" style="width: 140px">成本价：</label></td>
                    <td width="140px"><input type="text" class="layui-input" id="wineFee"></td>
                    <td><label class='layui-form-label' style="width: 119px">报价:</label></td>
                    <td><input type='text' name='offer' class='layui-input'></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">其他：</label></td>
                    <td><label class="layui-form-label" style="width: 140px">成本价：</label></td>
                    <td width="140px"><input type="text" class="layui-input" style="width: 140px" id="otherCostPrice">
                    </td>
                    <td><label class='layui-form-label' style="width: 140px">报价:</label></td>
                    <td><input type='text' name='offer' class='layui-input' id="otherOffer"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">
                        <小费></小费>
                        ：</label></td>
                    <td colspan="5"><input type="text" class="layui-input"></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">备注：</label></td>
                    <td colspan="8"><textarea placeholder="请输入内容" class="layui-textarea" name="desc"
                                              id="remarks"></textarea></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">接待标准：</label></td>
                    <td colspan="8"><textarea placeholder="请输入内容" class="layui-textarea" name="desc"
                                              id="reception"></textarea></td>
                </tr>
                <tr>
                    <td><label class="layui-form-label">团队监督：</label></td>
                    <td colspan="8"><textarea placeholder="请输入内容" class="layui-textarea" name="desc"
                                              id="supervision"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" height="80px">
                        <button class='layui-btn layui-btn-normal layui-btn-radius'>预览报价单</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        <input type="button" value="保存" onclick="saveDispatchInfo()">
                        <button class='layui-btn layui-btn-normal layui-btn-radius' id="baocun"
                                onclick="saveDispatchInfo()">打印报价单
                        </button>
                    </td>
                </tr>
            </table>
        </form>
        <!--底部div结束-->
    </div>

</div>

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/layui.js"></script>
<script type="text/javascript" src="/js/scheduling.js"></script>

<script>


    // 保存调度信息
    function saveDispatchInfo() {
        var patchJsonObj = {}; // 调度信息的json对象
        var patchGuideJsonObj = {}; // 调度导游的json对象
        var patchCarJsonObj = {}; // 调度用车的json对象

        // 旅行社名称
        patchJsonObj.travelName = $('#travelName').val();
        // 旅行开始时间
        patchJsonObj.travelStartTime = $('#beginDate').val();
        // 旅行结束时间
        patchJsonObj.travelEndTime = $('#endDate').val();
        // 人数
        patchJsonObj.num = $('#peopleNumber').val();
        // 接团地点
        patchJsonObj.beginAddress = $('#beginAddress').val();
        // 送团地点
        patchJsonObj.endAddress = $('#endAddress').val();
        // 抵达航班/车次号
        patchJsonObj.carNum = $('#carNum').val();
        // 团队联系人
        patchJsonObj.concat = $('#concat').val();
        // 联系电话
        patchJsonObj.concatPhone = $('#concatPhone').val();
        // 其他成本价/报价
        patchJsonObj.otherCostPrice = $('#otherCostPrice').val();
        patchJsonObj.otherOffer = $('#otherOffer').val();
        // 客源地
        //patchJsonObj.tourist = $('#tourist').val();
        // 行程
        //patchJsonObj.trip = $('#trip').val();
        // 车费
        patchJsonObj.fare = $('#fare').val();
        // 酒水费
        patchJsonObj.wineFee = $('#wineFee').val();
        // 不含
        //patchJsonObj.not = $('#not').val();
        // 备注
        patchJsonObj.remarks = $('#remarks').val();
        // 接待标准
        patchJsonObj.reception = $('#reception').val();
        // 团体监督
        patchJsonObj.supervision = $('#supervision').val();
        // 导游借款
        patchJsonObj.loan = $('#loan').val();
        // 导游
        patchGuideJsonObj.guideId = $('#guideContext').find('option:selected').val();
        // 用车类型
        patchCarJsonObj.typeId = $('#vehicles').find('option:selected').val();
        // 用车数量
        patchCarJsonObj.number = $('#vehiclesContext').next().next().find('input').val();
        // 用车成本价/报价
        patchCarJsonObj.costPrice = $('#vehiclesContext').next().next().next().next().find('input').val();
        patchCarJsonObj.offer = $('#vehiclesContext').next().next().next().next().next().next().find('input').val();
        var lineJsonArray = []; // 线路信息json集合
        var hotelJsonArray = []; // 酒店信息的json集合
        var scenicspotJsonArray = []; // 景点信息的json集合
        var shoppingAddressJsonArray = []; // 购物地点的json集合
        var mealTypeJsonArray = []; // 餐馆 & 饮食类型的json集合

        // 获取以id以offer开头的所有元素
        var contents = $("div[id^='offer']");
        // 遍历以id以offer开头的所有元素
        $(contents).each(function (i, e) {
            var lineInfo = {};  // 线路对象
            var scenicspotInfo = {};    // 景点对象
            var hotelInfo = {}; // 酒店对象
            var shoppingInfo = {}; // 购物地点对象
            var mealTypeInfo = {}; // 餐馆&饮食类型对象
            // 获取午餐饮食类型编号
            mealTypeInfo.typeId = $(e).find('#lunch').find('#diets option:selected').val();
            // 午餐饮食类型成本价/报价
            mealTypeInfo.costprice = $(e).find('#lunch').find('#diets').parent('td')
                .next().next().find('input').val();
            mealTypeInfo.offer = $(e).find('#lunch').find('#diets').parent('td')
                .next().next().next().next().find('input').val();
            // 午餐饮食时间
            mealTypeInfo.dinDate = 2;
            // 午餐饮食类型权重
            mealTypeInfo.weight = (i + 1);
            // 付款方式
            mealTypeInfo.payment = $(e).find('#lunch').find('.layui-form-radioed').find('div').html();
            mealTypeJsonArray.push(mealTypeInfo);

            mealTypeInfo = {};
            // 获取晚餐饮食类型编号
            mealTypeInfo.typeId = $(e).find('#dinner').find('#diets option:selected').val();
            // 晚餐饮食类型成本价/报价
            mealTypeInfo.costprice = $(e).find('#dinner').find('#diets').parent('td')
                .next().next().find('input').val();
            mealTypeInfo.offer = $(e).find('#dinner').find('#diets').parent('td')
                .next().next().next().next().find('input').val();
            // 晚餐饮食时间
            mealTypeInfo.dinDate = 3;
            // 晚餐饮食类型权重
            mealTypeInfo.weight = (i + 1);
            // 付款方式
            mealTypeInfo.payment = $(e).find('#dinner').find('.layui-form-radioed').find('div').html();
            mealTypeJsonArray.push(mealTypeInfo);

            // 获取购物地点编号
            shoppingInfo.shoppingId = $(e).find('#shoppings').val();
            // 购物地点权重
            shoppingInfo.weight = (i + 1)
            shoppingInfo.date = $(e).find('#date3').val();
            shoppingAddressJsonArray.push(shoppingInfo);

            // 获取酒店类型编号
            var hotelType = $(e).find('#hotelItem').find('td[id=therooms]').find('option:selected').val()
            // 获取房间数
            var hotelNum = $(e).find('#hotelItem').find('td[id=therooms]').next().next().find('input').val();
            // 获取成本价和报价
            var hotelCostPrice = $(e).find('#hotelItem').find('td[id=therooms]').next().next().next().next().find('input').val();
            var hotelOffer = $(e).find('#hotelItem').find('td[id=therooms]').next().next().next().next().next().next()
                .find('input').val();
            // 付款方式
            var payment = $(e).find('#hotelItem').find('.layui-form-radioed').find('div').html();
            var date = $(e).find('#date3').val();
            hotelInfo.hotelType = hotelType;
            hotelInfo.hotelNum = hotelNum;
            hotelInfo.hotelCostPrice = hotelCostPrice;
            hotelInfo.hotelOffer = hotelOffer;
            hotelInfo.payment = payment;
            hotelInfo.weight = (i + 1);
            hotelInfo.date = date;
            hotelInfo.companyBedNum = $(e).find('#companyBedNum').val();
            hotelInfo.companyBedoffer = $(e).find('#companyBedoffer').val();
            hotelInfo.companyPaymeny = $(e).find('#privateAccompany').find('.layui-form-radioed').find('div').html();
            hotelJsonArray.push(hotelInfo);
            alert(hotelInfo["companyBedNum"])
            alert(hotelInfo["companyBedoffer"])
            alert(hotelInfo["companyPaymeny"])
            // 获取当前下的所有景点
            var scenicSpotId = -1;
            var allScenicpot = $(e).find('tr[id^=scenic]');
            // 遍历景点列表
            for (var j = 0; j < allScenicpot.length; j++) {
                if ($(allScenicpot[j]).find('#scenicspots').last().find('option:selected').val() == 0) {  // 未选择小景点
                    scenicSpotId = $(e).find('#scenicspots').first().find('option:selected').val();
                } else { // 已选择小景点
                    scenicSpotId = $(e).find('#scenicspots').last().find('option:selected').val();
                }
                // 获取景点编号
                scenicspotInfo.scenicSpotId = scenicSpotId;
                // 获取景点的成本价和报价
                var costprice = $(allScenicpot[j]).find('td').first().next().next().next().next()
                    .find('input').val();
                var offer = $(allScenicpot[j]).find('td').first().next().next().next().next().next().next()
                    .find('input').val();
                // 购买人数
                var buynum = $(allScenicpot[j]).find('td').first().next().next().next().next().next().next()
                    .next().next().find('input').val();
                // 付款方式
                var payment = $(allScenicpot[j]).find('.layui-form-radioed').find('div').html();
                // 权重
                scenicspotInfo.weight = (i + 1);
                // 获取时间
                var travelTime = $(e).find('#date3').val();
                scenicspotInfo.date = travelTime;
                scenicspotInfo.costprice = costprice;
                scenicspotInfo.offer = offer;
                scenicspotInfo.buynum = buynum;
                scenicspotInfo.payment = payment;
                scenicspotJsonArray.push(scenicspotInfo);
            }

            // 获取线路名称
            var lineName = $(e).find('#lineName').val();
            lineInfo.lineName = lineName;
            // 获取时间
            var travelTime = $(e).find('#date3').val();
            lineInfo.travelTime = travelTime;
            // 获取行程内容
            var desc = $(e).find('textarea[name=desc]').val();
            // 权重
            lineInfo.weight = (i + 1);
            lineInfo.desc = desc;
            lineJsonArray.push(lineInfo);
        })
        // alert("调度信息的json对象:" + patchJsonObj);
        // alert("调度导游的json对象" + patchGuideJsonObj);
        // alert("调度用车的json对象" + patchCarJsonObj);
        // alert("线路信息json集合" + lineJsonArray[0]);
        // alert("酒店信息的json集合" + hotelJsonArray[0].hotelOffer);
        // alert("景点信息的json集合" + scenicspotJsonArray[0].offer);
        // alert("购物地点的json集合" + shoppingAddressJsonArray);
        // alert("餐馆 & 饮食类型的json集合" + mealTypeJsonArray[0].offer);

        // 拼接调度信息的所有信息
        var PatchJsonObj = {
            patchInfo: patchJsonObj, patchGuide: patchGuideJsonObj
            , patchCar: patchCarJsonObj, patchLine: lineJsonArray
            , patchHotel: hotelJsonArray, patchMealType: mealTypeJsonArray
            , patchScenicspot: scenicspotJsonArray, patchShopping: shoppingAddressJsonArray
        };
        // 将调度信息提交到服务器
        submitPatchInfoToServer(PatchJsonObj);
    }

    // 提交调度信息到服务器
    function submitPatchInfoToServer(PatchJsonObj) {
        $.ajax({
            url: "/dispatch/dispatch/save",
            data: JSON.stringify(PatchJsonObj),
            dataType: "json",
            type: "post",
            contentType: "application/json",
            success: function (result) {
                if (result.code == 0) {
                    alert('保存成功！');
                } else {
                    alert('系统出现异常，请及时与管理员联系！');
                }
            },
            error: function (res) {
                alert(res);
            }
        })

    }

    function listenerSelectChange(obj) {
        // 获取选中的下拉框的值
        var id = $(obj).find('option:selected').val();
        if ($(obj).attr('id') == "hotels") {  // 改变酒店，查询该酒店的所有房间类型
            $.ajax({
                url: "/roomType/roomType/details/" + id + ".html",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {
                    var allRoomType = result.data;
                    var options = "";
                    $(allRoomType).each(function (i, e) {    // 遍历所有的房间类型
                        options += "<option value='" + (e.typeId) + "'>" + (e.typeName) + "</option>";
                    })
                    if (allRoomType.length > 0) {
                        // 获取成本价
                        var costprice = allRoomType[0].costprice;
                        // 报价
                        var offer = allRoomType[0].offer;
                    }
                    // 将所有的房间类型附上值
                    $(obj).parent().next().find('#therooms').html(options);
                    $(obj).parent().next().next().next().next().next().find('input').val(costprice);
                    $(obj).parent().next().next().next().next().next().next().next().find('input').val(offer);
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
        else if ($(obj).attr('id') == "therooms") {  // 根据指定的房间类型查询所属信息（成本价/报价）
            $.ajax({
                url: "/roomType/roomType/detail/" + id + ".html",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {
                    var roomType = result.data;
                    // 成本价
                    var costPrice = roomType.costprice;
                    // 报价
                    var offer = roomType.offer;
                    $(obj).parent().next().next().next().next().find('input').val(costPrice);
                    $(obj).parent().next().next().next().next().next().next().find('input').val(offer);
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
        else if ($(obj).attr('box') == "true") {  // 根据大景点查询小的景点信息
            $.ajax({
                url: "/scenicspot/scenicspot/childrens/" + id + ".html",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {
                    var allScenicspots = result.data;
                    var options = "";
                    $(allScenicspots).each(function (i, e) {    // 遍历所有的房间类型
                        options += "<option value='" + (e.scenicSpotId) + "' costPrice='" + (e.costprice) + "' offer='" + (e.offer) + "'>" + (e.scenicSpotName) + "</option>";
                    })
                    if (allScenicspots.length > 0) {
                        // 获取成本价
                        var costprice = allScenicspots[0].costprice;
                        // 报价
                        var offer = allScenicspots[0].offer;
                    }
                    // 将所有的房间类型附上值
                    $(obj).parent().next().find('#scenicspots').html(options);
                    $(obj).parent().next().next().next().find('input').val(costprice);
                    $(obj).parent().next().next().next().next().next().find('input').val(offer);
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
        else if ($(obj).attr('id') == "scenicspots" && $(obj).attr('box') != "true") { // 根据小景点查询成本价和报价
            // 成本价
            var costPrice = $(obj).find('option:selected').attr('costPrice');
            // 报价
            var offer = $(obj).find('option:selected').attr('offer');
            // 赋值
            $(obj).parent().next().next().find('input').val(costPrice);
            $(obj).parent().next().next().next().next().find('input').val(offer);
        }
        else if ($(obj).attr('id') == "restaurants") { // 根据餐馆查询所属的饮食类型
            $.ajax({
                url: "/mealType/mealType/detail/" + id + ".html",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {
                    var allMealType = result.data;
                    var options = "";
                    $(allMealType).each(function (i, e) {    // 遍历所有的饮食类型
                        options += "<option value='" + (e.typeId) + "' costprice='" + (e.costprice) + "' offer='" + (e.offer) + "'>" + (e.mealTypeName) + "</option>";
                    })
                    if (allMealType.length > 0) {
                        // 获取成本价
                        var costprice = allMealType[0].costprice;
                        // 报价
                        var offer = allMealType[0].offer;
                    }
                    // 将所有的房间类型附上值
                    $(obj).parent().next().find('#diets').html(options);
                    $(obj).parent().next().next().next().find('input').val(costprice);
                    $(obj).parent().next().next().next().next().next().find('input').val(offer);
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
        else if ($(obj).attr('id') == "diets") { // 根据饮食类型编号和餐馆编号查询成本价和报价
            // 将所选的餐馆的饮食类型的成本价和报价附上值
            var costprice = $(obj).find('option:selected').attr("costprice");
            var offer = $(obj).find('option:selected').attr("offer");
            ;
            $(obj).parent().next().next().find('input').val(costprice);
            $(obj).parent().next().next().next().next().find('input').val(offer);
        }

        else if ($(obj).attr('id') == "carrentals") { // 根据餐馆查询所属的饮食类型
            $.ajax({
                url: "/vehicleType/vehicleType/details/" + (id) + ".html",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {
                    var allVehicleType = result.data;
                    var options = "";
                    $(allVehicleType).each(function (i, e) {    // 遍历所有的饮食类型
                        options += "<option value='" + (e.typeId) + "' costprice='" + (e.costprice) + "' offer='" + (e.offer) + "'>" + (e.vehicleTypeName) + "</option>";
                    })
                    if (allVehicleType.length > 0) {
                        // 获取成本价
                        var costprice = allVehicleType[0].costprice;
                        // 报价
                        var offer = allVehicleType[0].offer;
                    }
                    // 将所有的车辆类型附上值
                    $(obj).parent().next().find('#vehicles').html(options);
                    $(obj).parent().next().next().next().next().next().find('input').val(costprice);
                    $(obj).parent().next().next().next().next().next().next().next().find('input').val(offer);
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
        else if ($(obj).attr('id') == "vehicles") { // 根据饮食类型编号和餐馆编号查询成本价和报价
            // 将所选的餐馆的饮食类型的成本价和报价附上值
            var costprice = $(obj).find('option:selected').attr("costprice");
            var offer = $(obj).find('option:selected').attr("offer");
            ;
            $(obj).parent().next().next().next().next().find('input').val(costprice);
            $(obj).parent().next().next().next().next().next().next().find('input').val(offer);
        }
    }


    loadData();

    // 发送请求查询指定的报价信息
    function loadData() {
        // 获取报价的编号
        var offerId = $('#offerId').val();
        alert(offerId);
        // 发送请求
        $.ajax({
            url: "/offer/offer/detail/" + offerId + ".html",
            data: "",
            dataType: "json",
            type: "get",
            success: function (result) {
                // start
                var data = result.data;
                var travelName = data.travelName; // 组团社名称
                var personNum = data.number; // 人数
                var startTime = data.travelStartTime; // 接团时间
                var endTime = data.travelEndTime; // 送团时间
                var carType = data.offercar.valueId; // 车队类型编号
                var carTypeCost = data.offercar.costPrice; // 车队类型编号
                var carTypeOffer = data.offercar.offer; // 车队类型编号
                var otherCostPrice = data.offerother.costPrice;// 其他的成本价
                var otherOffer = data.offerother.costPrice;// 其他的报价
                var remarks = data.remarks;// 备注
                var supervision = data.supervision; // 团队监督
                var reception = data.reception; // 接待标准
                // 公共json串
                var commonsJsonStr = {
                    travelName: travelName, personNum: personNum, startTime: startTime,
                    endTime: endTime, carType: carType, otherCostPrice: otherCostPrice,
                    otherOffer: otherOffer, remarks: remarks, supervision: supervision,
                    reception: reception, carTypeCost: carTypeCost, carTypeOffer: carTypeOffer
                };
                // 获取行程
                var offerLine = data.offerlineList; // 所有行程内容
                // 循环所有的行程
                var offerNum = 0; // 记录行程个数
                var offerLineArray = new Array();
                $(offerLine).each(function (i, e) {
                    var lineArriveName = e.lineArriveName; // 线路名称
                    var lineDate = e.date; // 日期
                    var travelContent = e.travelContent; // 行程内容
                    var jsonStr = {lineArriveName: lineArriveName, lineDate: lineDate, travelContent: travelContent};
                    offerLineArray[offerNum] = jsonStr;
                    offerNum++;
                })
                var offerHotelList = data.offerHotelList; // 所有酒店列表
                // 遍历所有的酒店
                offerNum = 0;
                var offerHotelArray = new Array();
                $(offerHotelList).each(function (i, e) {
                    var hotelId = e.hotelId;
                    var costPrice = e.costPrice; // 成本价
                    var offer = e.offer; // 报价
                    var jsonStr = {hotelId: hotelId, costPrice: costPrice, offer: offer};
                    offerHotelArray[offerNum] = jsonStr;
                    offerNum++;
                })
                var offerscenicList = data.offerscenicList; // 所有景点列表
                // 遍历所有景点
                offerNum = 0;
                var offerscenicJsonArray = [];
                $(offerscenicList).each(function (i, e) {
                    var scenicId = e.scenicSpotId;
                    var costPrice = e.costPrice; // 成本价
                    var offer = e.offer; // 报价
                    var weight = e.weight; // 权重
                    var jsonStr = {scenicId: scenicId, costPrice: costPrice, offer: offer, weight: weight};
                    offerscenicJsonArray.push(jsonStr);
                })
                var offerrestaurantList = data.offerrestaurantList; // 所有饮食类型列表
                // 遍历所有饮食类型
                var offerrestaurantJsonArray = [];
                $(offerrestaurantList).each(function (i, e) {
                    var dictionariesId = e.dictionariesId;
                    var costPrice = e.dictionaries.valueContent2; // 成本价
                    var offer = e.dictionaries.valueContent3; // 报价
                    var weight = e.weight; // 权重
                    var havemealsdate = e.havemealsdate; // 用餐时间
                    var jsonStr = {
                        dictionariesId: dictionariesId, costPrice: costPrice, offer: offer,
                        weight: weight, havemealsdate: havemealsdate
                    };
                    offerrestaurantJsonArray.push(jsonStr);
                })
                for (var i = 0; i < offerLineArray.length; i++) {
                    addss(i, offerLineArray[i], offerHotelArray[i], offerscenicJsonArray,
                        offerrestaurantJsonArray, commonsJsonStr);
                }
                // end
            },
            error: function (res) {
                alert(res);
            }
        })
    }
</script>
<script type="text/javascript">
    var templates = $('[name=templates]').prop("outerHTML"); // 景点列表
    var scenicspots = $('[name=scenicspots]').prop("outerHTML"); // 景点列表
    var hotels = $('[name=hotels]').prop("outerHTML");	// 酒店列表
    var therooms = $('[name=therooms]').prop("outerHTML"); // 房间类型列表
    var scenicspots = $('[name=scenicspots]').prop("outerHTML"); // 景点列表
    var shoppings = $('[name=shoppings]').prop("outerHTML"); // 购物地点列表
    var restaurants = $('[name=restaurants]').prop("outerHTML"); // 餐馆列表
    var diets = $('[name=diets]').prop("outerHTML"); // 饮食类型列表
    var guides = $('[name=guides]').prop("outerHTML"); // 导游列表
    var carrentals = $('[name=carrentals]').prop("outerHTML"); // 租赁公司列表
    var vehicles = $('[name=vehicles]').prop("outerHTML"); // 车辆类型列表
    $('#guideContext').html(guides);
    $('#carrentalsContext').html(carrentals);
    $('#vehiclesContext').html(vehicles);
    layui.use('form', function () {
        var form = layui.form;
        // 监听酒店
        form.on('select(hotels)', function (data) {
            var hotelId = data.value; // 酒店编号
            $(this).parents('td').next().html(guides);
            $(this).parents('td').next().next().next().find('input').val('数量');
            $(this).parents('td').next().next().next().next().next().find('input').val('成本价');
            // 发送请求
            $.ajax({
                url: "",
                data: "",
                dataType: "json",
                type: "get",
                success: function (result) {

                },
                error: function (res) {
                    alert(res);
                }
            })
            console.log(data.elem);  //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象
        });
        //各种基于事件的操作，下面会有进一步介绍
    });


    function san(dang) {
        $(dang).parent().parent().remove();
    }

    function add(onClickjd, rowNum) {
        // 获取最后一个景点的id值
        var scenicId = $('#offer' + rowNum + ' #shopping').prev('tr').attr('id');
        // 截取字符串
        var id = scenicId.substring(6);
        id = parseInt(id);
        $(onClickjd).parent().parent().nextAll('#' + scenicId).after("<tr id='scenic" + (id + 1) + "'>" +
            "<td><label class='layui-form-label'>景点</label></td>" +
            "<td>" + scenicspots +
            "</td>" +
            "<td>" + scenicspots +
            "</td>" +
            "<td><label class='layui-form-label'>成本价:</label></td>" +
            "<td><input type='text' class='layui-input'></td>" +
            "<td><label class='layui-form-label'>报价:</label></td>" +
            "<td><input type='text' class='layui-input'></td>" +
            "<td><label class='layui-form-label'>需购票人数:</label></td>\" +\n" +
            "<td><input type='text'  class='layui-input'></td>\" +\n" +
            "<td colspan='2' width='300px'>" +
            "<input type='radio' name='payMethods' value='现付' title='现付' />" +
            "<input type='radio' name='payMethods' value='签单' title='签单' checked></td>" +
            "</tr>");
        renderCss();  // 刷新Lay样式
    }

    var deletes = "<label class='layui-form-label' onclick='san(this)'>×</label></td>";

    // 刷新Lay样式
    function renderCss() {
        layui.use(['form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                element = layui.element,
                laydate = layui.laydate,
                a;
            form.render(); //更新全部
            form.render('select'); //刷新select选择框渲染
        });
    }


    $(function () {
        layui.use(['form', 'layedit', 'laydate', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                element = layui.element,
                laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            laydate.render({
                elem: '#date2'
            });
            element.render('test1');
            form.render('select', 'test1');
            form.on('radio(*)', function (data) {
                /*console.log(data.elem); //得到radio原始DOM对象
                 console.log(data.value); //被点击的radio的value值*/
                alert("是是是");

            });
        });
    });

</script>
</body>
</html>