<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css"/>
	</head>
	<body>
	<form class="layui-form column-content-detail">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">景点信息</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="layui-form-item">
									<input type="hidden" id="scenicSpotId" value="">
									<label class="layui-form-label">景点名称：</label>
									<div class="layui-input-block">
										<input type="text" name="scenicSpotName" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">父景点：</label>
									<div class="layui-inline">
										<select name="parentId" lay-filter="status" id="parentId">
											<option value="0">无</option>
											<option value="1">AAA</option>
											<option value="2">AAAA</option>
											<option value="3">AAAAA</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">等级：</label>
									<div class="layui-inline">
										<select name="typeId" lay-filter="status" id="typeId">
											<option value="0">请选择景点等级</option>
											<option value="5">A</option>
											<option value="4">AA</option>
											<option value="3">AAA</option>
											<option value="2">AAAA</option>
											<option value="1">AAAAA</option>
										</select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">地点：</label>
									<div class="layui-input-block">
										<input type="text" name="scenicSpotAddress" required lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">图片地址：</label>
									<div class="layui-input-block">
										<i class="layui-icon ">&#xe67c;</i>上传图片
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">成本价：</label>
									<div class="layui-input-block">
										<input type="text" name="costprice" required lay-verify="required" placeholder="请输入成本价" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">报价：</label>
									<div class="layui-input-block">
										<input type="text" name="offer" required lay-verify="required" placeholder="请输入报价" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">备注：</label>
									<div class="layui-input-block">
										<input type="text" name="remarks" required lay-verify="required" placeholder="请输入备注" autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" type="button" id="save">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
	<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript"  src="/js/getUrlParam.js"></script>
	<script src="/js/jquery-1.8.2.min.js"></script>
	<script>
		$(function () {
            parentScenicSpot();
            getScenicSpotLevel();
           /* var url =location.search;   //先获取地址栏的信息（也就是.html后你传过来的字符串）
            var Request = new Object();    //定义一个结果集，方便后面来接收结果
            if(url.indexOf("?")!=-1){
                var str = url.substr(1)　//去掉?号
                strs = str.split("&");
                for(var i=0;i<strs.length;i++){
                    Request[strs[i ].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            alert(Request["id"])*/
           /* var id=UrlParm.parm("id");
            var id1=request.QueryString("id");
            alert(id1);
            $("#scenicSpotId").val(id1);
            if($("#scenicSpotId").val()!=''){
                getScenicSpotById(id);
            }*/
            $("#save").click(function () {
                insertscenicSpot();
                /*if(id!=''){
                    updateScenicSpot(id);
                }else{
                    insertscenicSpot();
                }*/
            });
        })
		function getScenicSpotById(id) {
			$.post("/getInfoById","id="+id,function (data) {
                $("input[name='scenicSpotName']").val(data.scenicSpotName);
                $("select[name='parentId']").val(data.parentId);
                $("select[name='typeId']").val(data.typeId);
                $("input[name='scenicSpotAddress']").val(data.scenicSpotAddress);
                $("input[name='costprice']").val(data.costprice);
                $("input[name='offer']").val(data.offer);
                $("input[name='remarks']").val(data.remarks);
            },"json");
        }
        function updateScenicSpot(id) {
            var scenicSpotName=$("input[name='scenicSpotName']").val();
            var parentId=$("select[name='parentId']").val();
            var typeId=$("select[name='typeId']").val();
            var scenicSpotAddress=$("input[name='scenicSpotAddress']").val();
            var costprice=$("input[name='costprice']").val();
            var offer=$("input[name='offer']").val();
            var remarks=$("input[name='remarks']").val();
            $.post("/updateInfoById","scenicSpotName="+scenicSpotName+"&parentId="+parentId+"" +
                "&typeId="+typeId+"&scenicSpotAddress="+scenicSpotAddress+"&costprice="+costprice+
                "&offer="+offer+"&remarks="+remarks+"id="+id,function (data){
				if(data.data>0){
				    alert("修改成功！");
				}else{
                    alert("修改失败！");
				}
			},"json");
        }
		function getScenicSpotLevel() {
			//获取景点等级
			$.post("/ListDictionariesByScenicspot","",function (data) {
				var content1="<option value=\"0\">请选择景点等级</option>";
				$.each(data.data,function (i,e) {
                    content1+="<option value=\""+e.valueId+"\">"+e.valueContent1+"</option>";
                })
				$("#typeId").html(content1);
            },"json");
        }
		function parentScenicSpot() {
			//获取父景点信息
			$.post("/ListScenicspotByParentId","",function (data) {
			    var content="<option value=\0\">请选择父景点</option>";
				$.each(data.data,function (i,e) {
					content+="<option value=\""+e.scenicSpotId+"\">"+e.scenicSpotName+"</option>";
                })
				$("#parentId").html(content);
            },"json")
        }
		function insertscenicSpot(){
		    var scenicSpotName=$("input[name='scenicSpotName']").val();
            var parentId=$("select[name='parentId']").val();
            var typeId=$("select[name='typeId']").val();
            var scenicSpotAddress=$("input[name='scenicSpotAddress']").val();
            var costprice=$("input[name='costprice']").val();
            var offer=$("input[name='offer']").val();
            var remarks=$("input[name='remarks']").val();
            $.post("/insertScenicspot","scenicSpotName="+scenicSpotName+"&parentId="+parentId+"" +
				"&typeId="+typeId+"&scenicSpotAddress="+scenicSpotAddress+"&costprice="+costprice+
				"&offer="+offer+"&remarks="+remarks,function (data) {
				if(data.data>0){
				    alert("新增成功！");
				}else{
                    alert("新增失败！");
				}
            },"json");
		}
		layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'common', 'tool', 'element', 'upload', 'layedit'], function() {
				var form = layui.form(),
					layer = layui.layer,
					$ = layui.jquery,
					laypage = layui.laypage,
					laydate = layui.laydate,
					layedit = layui.layedit,
					common = layui.common,
					tool = layui.tool,
					element = layui.element(),
					dialog = layui.dialog;

				//获取当前iframe的name值
				var iframeObj = $(window.frameElement).attr('name');
				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor', {
					tool: ['strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'link' //超链接
						, 'unlink' //清除链接
						, 'image' //插入图片
					],
					height: 100
				})
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});
				form.render();

				layui.upload({
					url: '上传接口url',
					success: function(res) {
						console.log(res); //上传成功返回值，必须为json格式
					}
				});
			});
	</script>
	</body>
</html>