<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.AccountTypeMapper">
    <select id="selectAccountTypeName" resultType="com.dyhc.sdglgroundconnection.pojo.AccountType">
        SELECT * FROM `AccountType` WHERE 1=1 and whetherDel=0
        <if test="bank!=null and bank!=''">
            and bank LIKE concat('%',#{bank},'%')
        </if>
    </select>
    <update id="deleteAccountType">
        UPDATE `AccountType` SET
            `whetherDel` = 1
        WHERE `accountTypeId` = #{accountTypeId}
    </update>
</mapper>