<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferMapper">
    <select id="getIntegerByOfferId" resultType="Integer">
        SELECT MAX(offerId) FROM offer
    </select>
    <update id="updateOfferByOfferId">
        UPDATE offer SET value1=#{value1} WHERE offerId=#{id}
    </update>
</mapper>